

//.featured-topic-badge .badge {
//  padding: 0.1em 0.4em;
//  display: flex;
//  align-items: center;
//  font-size: 0.75em;
//  line-height: normal;
//}

.bar-middle .RIGHT-topic .pointer-list {
  text-align: center;
}

.TYPE-topic {
  &.box .box-middle {
    text-align: center;
  }

  &.page-view .image-box img {
    padding: 0;
  }
}

.topic-tree-input {
  .card-title {
    padding: $tree-leaf-padding;
    @include border-radius($btn-border-radius);
    display: inline-block;
    margin: 0.1em 0;
  }

  .tree-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tree-button {
    padding: 0
  }
}