

//.featured-topic-badge .badge {
//  padding: 0.1em 0.4em;
//  display: flex;
//  align-items: center;
//  font-size: 0.75em;
//  line-height: normal;
//}

.bar-middle .RIGHT-topic .pointer-list {
  text-align: center;
}

.TYPE-topic {
  &.box .box-middle {
    text-align: center;
  }

  &.page-view .image-box img {
    padding: 0;
  }
}

.topic-tree, .framework-tree {
  .card-title {
    padding: $tree-leaf-padding;
    @include border-radius(0.3rem);
    display: inline-block;
    margin: 0.1em 0;
    font-size: 1rem;
    line-height: 1.3rem;
  }

  .tree-body {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tree-button {
    padding: 0
  }

  .tree-leaf {
    margin-left: 2em;
  }
}

//.close-filter-topic_framework {
//  max-width: 20em;
//  text-overflow: ellipsis;
//  display: inline-block;
//  white-space: nowrap;
//  overflow: hidden;
//}
