%ul.nav.navbar-nav.nav-menu
  - nav_menus.each do |menu, items|
    %li.nav-item.dropdown
      %a.nav-link.dropdown-toggle{ href: "#", "data-toggle": "dropdown", role: "button",
                                   "aria-expanded": false }
        = menu
        %span.caret
      %ul.dropdown-menu{ role: "menu" }
        - items.each do |item|
          %li.nav-item.px-2
            %a.nav-link.text-nowrap{ href: nav_menu_item_url(menu, item) }
              = item
              - if hr_after[item]
                %hr
