.concise-answer.d-flex.justify-content-between
  .metric-value.text-left.ellipsis
    = nest card.value_card, view: :pretty
    %span.text-muted.small.pt-1{ title: card.format(:text).render_legend }
      = render_legend
  .d-flex.justify-content-end.align-items-end
    = render_flags
    .text-muted.ml-2
      = nest card.year, view: :in_calendar
