.metric-value.text-left.ellipsis
  = nest card.value_card, view: :pretty
.small.pt-1.w-100
  %span.text-muted.ellipsis.d-inline-block{ title: card.format(:text).render_legend }
    = render_legend
  %span.float-right
    = render_flags
    %span.text-muted.pl-2
      = render_year_and_icon
