.year-and-value-pretty.d-flex.row
  = nest card.year, view: :in_calendar
  .thumbnail-text
    %span.metric-color.font-weight-bold
      = handle_unknowns { calculated { nest card.value_card, view: :pretty } }
    %span.text-muted
      = render_legend
