- one_thumb = voo.hide?(:company_thumbnail) || voo.hide?(:metric_thumbnail)
.d-flex.align-items-center.w-100{ class: ("one-thumb-answer" if one_thumb) }
  .TYPE-year.color-on-hover
    = card.year
  = render_company_thumbnail
  = render_metric_thumbnail
