.d-flex.justify-content-between.pb-5
  = nest card.value_card, view: :credit
  .d-flex.justify-content-end
    .ps-5
      = render_research_button
    .ps-5
      = render_flag_button
= render_read_form
