@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

.nav-tabs {
  border-bottom: 4px solid $border-color;
  margin-bottom: 1em;

  .tabbable {
    margin: 1px;
    .nav-tabs {
      border-bottom: 4px solid $border-color;
    }
  }

  .tab-badge {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    .badge {
      margin-left: 0.6em;
    }
  }

  .tab-title {
    text-transform: uppercase;
  }

  .tab-content {
    padding-top: 10px;
  }

  .nav-link{
    &:hover, &:focus {
      background: $gray-100;
      text-decoration: none;
    }
    &.active {
      border: 0 solid $gray-200;
      border-bottom: 4px solid $primary;
      border-radius: 0;
      &:focus,
      &:hover {
        border: 0 solid $gray-200;
        border-bottom: 4px solid $primary;
        border-radius: 0;
      }
    }
    &.disabled > span {
      border: 0 solid $gray-200;
      border-bottom: 4px solid $border-color;
      border-radius: 0;
      @include opacity(0.3);
      margin: 3px -1px;
      padding: 18px 20px;
      font-size: 15px;
      color: $gray-600;
      line-height: 1.42857;
      position: relative;
      display: block;
      &:focus,
      &:hover {
        cursor: not-allowed;
      }
    }
    background-color: $white;
    border-radius: 0;
    border: 0 solid $gray-200;
    border-bottom: 4px solid $border-color;
    margin: 3px -1px;
    font-size: 15px;
    color: $gray-600;
    margin-bottom: -3px;
    padding: 12px 9px;
    @include media-breakpoint-up(sm) {
      padding: 18px 20px;
    }
  }
}




//Custom Tabs


.TYPE-source.preview-view .navbar .nav-tabs > li {
  margin-bottom: 0;
}




