

/*----------- Top bar ---------*/
#top-navbar {
  .navbar-brand img {
    max-height: 3em;
  }

  #navbar-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .container {
    position: relative;
  }


  .top-nav-links {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: end;
    padding: 1em;

    .top-nav-account {
      white-space: nowrap;
    }

    .top-nav-burger {
      padding-left: 1em;
      font-size: 1.4em;
    }
  }
  .top-nav-search {
    width: 100%;
    padding: 0.5em 0;
  }

  @include media-breakpoint-up(md) {
    #navbar-body {
      max-width: 70%;
      flex-wrap: nowrap;
    }
    .top-nav-search {
      width: 60%;
    }
  }

}





