
// The subject and type edit field are hidden.
// For now we're only hiding them in the modal to help with debugging
// (On the site they should only be seen in the modal, but it's useful to have an
// easy way to see the fields in development)
.modal-body {
  .TYPE-reference {
    .RIGHT-Xsubject.card-editor {
      display: none
    }

    &.edit_type_row-view {
      display: none !important;
    }
  }

  > .TYPE-reference > .d0-card-frame {
    border: none;
    > .d0-card-body {
      padding: 0;
    }
  }
}

.TYPE-reference {
  > .card-form > .tab-panel {
    padding-bottom: 2.5em;
  }

  .RIGHT-adaptation.card-editor {
    .form-check {
      appearance: none;
      background-clip: padding-box;
      background-color: #fff;
      border: 1px solid $gray-400;
      border-radius: .25em;
      color: $gray-900;
      flex: 1;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      min-height: 1.5rem;
      margin-right: 1rem;
      padding: 0.375rem 1rem;
      padding-left: 2.2rem;
      text-align: left;
      transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        &.form-check:last-child {
          margin-right: 0;
        }
    }

    .pointer-radio-list {
      display: flex;
      list-style: none;
      justify-content: space-between;
      padding: 0px;
      width: 100%;
    }
  }
  .nav-link {
    pointer-events: none;
  }
  .nav-link.active {
    border-bottom: 4px solid #e9ecef;
  }
}

//.modal-body {
//  .tabbable {
//    .nav-tabs {
//      display: flex;
//    }
//    .nav-item {
//      flex-grow: 1;
//      .nav-link {
//        text-align: center;
//      }
//      .nav-link:focus,
//      .nav-link:hover {
//        background-color: #fff;
//      }
//    }
//  }
//}

.clipboard {
  border: 1px solid $gray-400;
  a {
    text-decoration: underline;
  }
}

.attribution-button {
  align-items: center;
  border-radius: 0rem 0.25rem 0.25rem 0rem;
  display: flex; 
  font-weight: bold;
  margin-right: 0 !important
}

.reference-credit {
  div {
    display: inline-block;
  }
}

.attribution-bar-left a, .attribution-bar-right a {
  font-weight: normal !important;
  color: $primary !important;
}