
.modal-body .TYPE-reference {
  .RIGHT-Xsubject.card-editor {
    display: none
  }
  &.edit_type_row-view {
    display: none !important;
  }
}

.TYPE-reference .RIGHT-adaptation.card-editor {
  .form-check {
    appearance: none;
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid $gray-400;
    border-radius: 50.4rem;
    color: $gray-900;
    flex: 1;              
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    min-height: 1.5rem;
    margin-right: 1rem; 
    padding: 0.375rem 1rem;
    padding-left: 2.2rem;
    text-align: left;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
      &.form-check:last-child {
        margin-right: 0;
      }
  }
  
  .pointer-radio-list {
    display: flex;        
    list-style: none; 
    justify-content: space-between;    
    padding: 0px;  
    width: 100%;          
  }
}
