.TYPE-reference .RIGHT-Xsubject.card-editor {
  display: none
}

.attribution-alert-link {
  font-size: small;
  margin-left: auto;
}

.attribution-alert-message {
  padding-left: calc(1.5rem + 24px);
}
