.bg-light.pb-5
  %section.container._noFilterUrlUpdates.position-relative

    = field_nest :source, view: :filtered_content, items: { view: :box }

  %section.container.research-add-source.bg-white.mb-5
    .row.align-items-center.px-5
      .col-8.px-5
        %h2
          Is your source not on Wikirate yet?
        %p
          Find a source elsewhere and add it here.
      .col-4.text-center
        = modal_link "Add new source",
                     path: { mark: :source,
                             action: :new,
                             slot: { hide: :cancel_button } },
                     data: { source_fields: card.source_card.format.new_source_defaults,
                             "slot-selector": ".RIGHT-source.filtered_results-view" },
                     class: "_add_source_modal_link btn btn-lg btn-primary",
                     size: :xl
