%nav#top-navbar.navbar.navbar-light.bg-white.drop-shadow
  .container
    .w-100
      .top-nav-links
        .top-nav-account
          - class_up "signin-link", "btn btn-primary"
          %ul.navbar-nav.ms-auto
            %li.nav-item.account-info-bar
            = nest :account_links, view: :core
        .top-nav-burger
          = render :nav_menu

      #navbar-body
        .navbar-brand
          = link_to nest(:logo, view: :core, size: :original), href: "/"
        .top-nav-search
          = nest :navbox, view: :navbar
