%nav.navbar.bg-white.drop-shadow.navbar-expand-md.navbar-light
  .container
    %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "navbar-body",
      "aria-expanded" => "false", "aria-label" => "Toggle navigation",
      "data-target" => "#navbar-body", "data-bs-toggle" => "collapse",
      :type => "button"}
      %span.navbar-toggler-icon
    .navbar-brand
      = render :nav_bar_left
    #navbar-body.collapse.navbar-collapse
      = nest :nav_menu, view: :core
      = render :nav_bar_middle
      = render :nav_bar_right
