

// should really be "bars"
.dropdown
  %button#nav-menu-dropdown.btn.btn-outline-secondary.dropdown-toggle{ "data-bs-toggle": "dropdown",

  }
    = fa_icon :hamburger
  %ul.dropdown-menu
    - %w[About Resources].each do |menu|
      %li
        %h4.dropdown-item
          = menu
      %li
        %a.dropdown-item
          A
      %li
        %a.dropdown-item
          B
      %li
        %a.dropdown-item
          C


