%nav.navbar.fixed-top.background-white.drop-shadow.navbar-expand-md.navbar-light
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "bs-example-navbar-collapse-1",
    "aria-expanded" => "false", "aria-label" => "Toggle navigation",
    "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse",
    :type => "button"}
    %span.navbar-toggler-icon
  .navbar-brand
    = link_to nest(:logo, view: :core, size: :original), href: "https://wikirate.org"
  #bs-example-navbar-collapse-1.collapse.navbar-collapse.align-items-center
    = nest :nav_menu, view: :core
    = render :nav_bar_middle
    = render :nav_bar_right
