.fancy-counts.row.py-3
  - count_categories.each do |cat|
    .col-sm-3.col-6.text-center.p-3
      .text-primary.large-icon
        = icon_tag cat
      %h1
        = nest cat, view: :count
      .py-1
        = link_to_card cat, count_label(cat)
      -# .count-description
      -#   = nest [cat, :header], view: :core