.cc-license
  Content is available under the
  = link_to("Creative Commons- Attribution 4.0 International License",
            href: "https://creativecommons.org/licenses/by/4.0/") + ";"
  additional terms may apply. See
  = link_to_card "Terms of Use"
  for details.
.wr-trademark
  %span
    WikiRate is a registered trademark of
  %a{ href: "http://wikirateproject.org"}<>
    The WikiRate Project e.V.
  , a nonprofit organization based in Berlin, Germany.