%a.inherit-anchor{:href => render_linkname}
  .recent-editors-container.list-group-item
    .row.clearfix
      .col-md-11.col-xs-11.column.ellipsis
        = card.name
      .col-md-1.col-xs-1.light-grey-color
        %i.fa.fa-arrow-right
