.download-option.source-option
  .help-text.help-block.pt-2
    %em Add by URL
    .small.text-muted.py-1
      Wikirate will download and convert to a PDF
    = nest :source, view: :copy_catcher
  = web_editor
  .py-2
    %span.small.text-muted or
    %a.toggle-source-option._toggle-source-option{ href: "#" }
      add by upload instead
    %span> .
.upload-option.source-option
  .help-text.help-block.pt-2
    %em Add by Upload
    .small.text-muted.py-1
      PDFs only
  = file_editor
  .py-2
    %span.small.text-muted or
    %a.toggle-source-option._toggle-source-option{ href: "#" }
      add by URL instead
    %span> .
