.thumbnail.d-flex.align-items-center{ data: wrap_data(false) }
  = thumbnail_image
  .thumbnail-text
    .thumbnail-title{ title: card.name }
      = thumbnail_title
    .thumbnail-subtitle.small.text-muted
      = thumbnail_subtitle