.numerical-type-info.col-md-8
  .col-md-12.m-0.p-0
    %span.pull-left Unit:
    %span.pull-left.margin-left-10
      = nest [card.left, :legend], view: :content
  .col-md-12.m-0.p-0
    %span.pull-left Range:
    %span.pull-left.margin-left-10
      = nest [card.left, :range], view: :content
