.metric-details-content
  = _render_metric_title
  %hr
  = _render_metric_properties
  %hr
  = nest(card.about_card, view: :titled, title: "About")
  = nest(card.methodology_card, view: :titled, title: "Methodology")
