%br
.metric-details-header
  .row.clearfix
    .col-md-12
      .name.row
        = link_to_card card, card.metric_title, class: 'inherit-anchor'
      .row
        = _render_designer_info
  %hr
  .row.clearfix.wiki
    = _render_metric_info
