.d-flex.flex-nowrap.align-items-center
  .image-box.icon.bg-white
    %span.img-helper
    = fa_icon :calendar, class: "text-muted"
  %h5.mb-0
    - if year?
      %strong
        = year
    - else
      %span.text-muted
        Year