// FIXME: most of this should be metric views!
.metric{class: slot_attr}
  -if !metric?
    %div
      .d-flex.flex-nowrap.metric-color
        .image-box.small.bg-white
          = fa_icon "bar-chart", class: "metric-color"
        = autocomplete_field :metric
  -elsif metric_pinned?
    .pinned-metric
      = nest metric, view: :research_option_header
  - else
    .metric-select.w-100
      = metric_select
