.panel-default.nodblclick.stick-left#metric-container
  - if project?
    .row
      .border-bottom.col-md-12.nopadding
        %h5.col-md-2
          Project:
        .col-md-10
          = nest project, view: :link
  .row
    .heading-label
      Company
    = _render_company

  .row.background-grey
    .heading-label
      Metrics
    = process_metrics

- haml_wrap do
  .panel-default.stick-right#source-preview-main
    #source-form-container
      .col-md-6.col-centered.text-center.light-grey-color-2._blank_state_message
        %br
        %br
        %br
        %p
          You can add or preview source here.
        %p
          Please click 'add answer' to begin.
