.panel-default.nodblclick.stick-left#metric-container
  - if project?
    .row
      .border-bottom.col-md-12.nopadding
        .heading-label
          Project
        .padding-20
          = nest project, view: :link
  .row
    .border-bottom.col-md-12.nopadding
      .heading-label
        Company
      = nest companies.first, view: :thumbnail

  .row
    .heading-label
      Metrics
    = process_metrics

= render_haml :source_side
