.nodblclick.row.m-0.p-0
  .col-12.top-banner-wrapper.white-text.banner-background.slide-container
    .col-12.banner-lead.text-center.mt-4
      .banner-image
        = nest :wikirate_white_logo, view: :core, size: :medium
      %span.wikirate-logo-title
        Wiki
        %strong> Rate
      %p.lead.mb-5 Let's make companies better, together.
      .pt-5.mt-5
        %h3.white-text.font-weight-normal
          %span
            How does
          %span.font-weight-bold.dotted-bottom-border.mr-2
            %span._wodry_company
              = companies.join("|")
          %span
            perform on
          %span.font-weight-bold.dotted-bottom-border
            %span._wodry_topic
              = topics.join("|")
          %span
            ?
        %h3.white-text.font-weight-normal
          %span
            To know and act, you need
          %span.font-weight-bold.dotted-bottom-border.mr-2
            %span._wodry_adjective
              = adjectives.join("|")
          %span
            data.
    .align-to-end.lead.our-solution
      %p Our Solution
      %a.fa.fa-chevron-down.text-white._our_solution
