.row.m-0.p-0.transparent-background-white.nodblclick.slide-container.border-top.text-center
  .col-12.text-center.p-3
    %h2 Topics
    %p.lead Universities and NGOs organize Projects on WikiRate to help thousands of students and volunteers research metric answers.
    %a.btn.btn-sm.btn-outline-secondary.m-3{href: "#"} Learn more
