.row.m-0.p-0.transparent-background-white.nodblclick.slide-container.border-top
  .p-5.text-center.col-8.mx-auto
    %h3.text-muted.font-weight-normal WikiRate is an open, collaborative tool for asking and answering important questions about corporate impacts.
