#wikirate-info-video{style: "width: 800px; height: 400px;"}
  %iframe{:allowfullscreen => "", :frameborder => "0", :mozallowfullscreen => "", :src => "https://player.vimeo.com/video/217679359?autoplay=1&title=0&byline=0&portrait=0&color=03998D", :style => "position:absolute;top:0;left:0;width:100%;height:100%;", :webkitallowfullscreen => ""}
  %script{:src => "https://player.vimeo.com/api/player.js"}
