.pb-5.bg-white.nodblclick.slide-container.border-top
  .container.position-relative
    .bg-white.dflex.py-5.mt-3.showcase-banner.position-relative
      .row.align-items-center.justify-content-around
        .col-md-8
          %h3.pb-2
            How transparent are big clothing companies?
          .lead
            Check out WikiRate's first
            %em data showcase:
            a look into how
            %em top apparel companies
            are responding to a push for transparency.
        .col-md-4.showcase-btn-col
          = link_to "Go to Showcase",
                    path: "https://showcase.wikirate.org/?utm_source=wikirate-website&utm_medium=banner&utm_campaign=apparel100-launch&utm_term=splash-banner&utm_content=copy-button",
                    class: "btn btn-purple btn-lg"

  .pb-5.text-center.col-12.col-md-8.mx-auto
    .row
      .col-12.col-md-8.mx-auto
        %h3.text-muted.font-weight-normal
          = nest :homepage_solution_text, view: :core
    .col-12.mt-5
      = modal_link "<span></span>", path: { mark: "homepage video container" },
                   class: "video-play-button drop-shadow", size: :large,
                   id: "_play-video"
      = nest :homepage_video_background_image, size: :original
    .col-12.text-center.video-section-lm
      %a.btn.btn-outline-secondary.m-3{href: "https://wikirateproject.org/"}
        Learn more
        .fa.fa-arrow-circle-right.ml-1.fa-lg
