.nodblclick.row.m-0.p-0
  .col-12.top-banner-wrapper.white-text.banner-background.slide-container.vh-90
    .col-12.banner-lead.text-center.mt-0.mt-md-4
      .banner-image
        = nest :wikirate_white_logo, view: :core, size: :medium
      %span.wikirate-logo-title
        Wiki
        %strong> Rate
      %p.lead.mb-0.mb-md-5.text-nowrap Let's make companies better, together.
      .dynamic-question.pt-5.mt-0.mt-md-5
        %h3.white-text.font-weight-normal
          %span
            How does
          %span.font-weight-bold.dotted-bottom-border.mr-2.loading-text
            %span.flip-this-default
            %span.flip-this
              = companies.join("|")
          %span
            perform on
          %span.text-nowrap
            %span.font-weight-bold.dotted-bottom-border.loading-text.text-nowrap
              %span.flip-this-default
              %span.flip-this
                = topics.join("|")
            ?
        %h3.white-text.font-weight-normal
          %span
            To know and act, you need
          %span.font-weight-bold.dotted-bottom-border.mr-2.loading-text
            %span.flip-this-default
            %span.flip-this
              = adjectives.join("|")
          %span
            data.
    .align-to-end.h5.font-weight-normal.our-solution
      %p.m-1 Our Solution
      %a.fa.fa-chevron-down.text-white._our_solution
