.row.m-0.p-0.bg-white.nodblclick.slide-container.border-top
  .col-12.text-center.p-3
    %h1.font-weight-normal.m-4.mb-3
      Organizations using WikiRate
    .d-flex.flex-wrap.p-2.m-5.org-images.row-fluid.justify-content-center
      - organization_cards.each do |org_card|
        - next unless (image_card = org_card.try :image_card)
        .col-6.col-sm-3
          %a{ href: org_card.name.url_key }
            = nest image_card, view: :content
    = nest :newsletter_signup, view: :core
