%section.contact-us
  .d-flex.justify-content-around.my-4
    .card.m-2.ms-0
      .card-body
        %h4.card-title
          Get email updates
        = nest :newsletter_signup, view: :core

    .card.m-2.me-0
      .card-body
        %h4.card-title
          Contact a Human
        .card-text
          %a{ href: "https://wikirateproject.org/Contact_Us" }
            Contact
          the folks at The WikiRate Project eV.
        %h5.card-subtitle.mt-4.py-2
          Follow
        .list-group
          - secondary_menus["Social"]