.card.w-100
  .card-body.d-flex.flex-column.justify-content-between
    .pb-1
      .blurb-icon
        = icon_tag :mail
    = nest :contact_cta1, view: :cta_section
    .pb-2 &nbsp;
    = nest :contact_cta2, view: :cta_section

