%section.container.py-5
  .feature-page-header.mb-4.position-relative
    = render_header
  .d-flex.flex-wrap.justify-content-between.align-items-center.pb-3
    .w-lg-75.lead
      = field_nest :description
%section.featured-container-container-fluid.bg-light
  .container
    = render_featured_boxes title: "Featured metric designers", show: :top_designers
.container.py-5
  = render_filtered_content
