.d-inline.px-2
  Request
  - link_text = capture_haml do
    %h6.pt-0.mt-0
      Not sure?
    %p
      Request that another researcher double check this answer.
    %p.pb-0.mb-0
      Please provide extensive comments explaining your uncertainty.
  = popover_link link_text
  %em.ml-3
    Please use sparingly.
