.d-flex.flex-wrap.justify-content-between.align-items-center
  .w-lg-75.lead
    = field_nest :description
  .text-end
    = render_add_button
= render_featured_boxes
%h2.fw-normal All
= render_filtered_content