.d-flex.flex-wrap.justify-content-between.align-items-center
  .w-lg-75.lead
    = field_nest :description
  .text-end
    = render_add_button
%h2.py-5.fw-normal Featured
.pb-5
  = nest [card, :featured], view: :content, items: { view: :box }
%h2.fw-normal All
= render_filtered_content