.metric-value.text-left
  = render_pretty_value
.small.pt-1.w-100
  %span.metric-unit.text-muted
    %span.font-weight-bold
    = render_unit
  %span.pull-right
    %span
      = render_flags
    %span.metric-year.text-muted.pl-2
      %i.fa.fa-calendar
      = card.year
