.metric-value.text-left.ellipsis{title: pretty_value }
  = render_pretty_value
.small.pt-1.w-100
  %span.metric-unit.text-muted.ellipsis.d-inline-block{title: render_unit }
    = render_unit
  %span.pull-right
    %span
      = render_flags
    %span.metric-year.text-muted.pl-2
      %i.fa.fa-calendar
      = card.year
