.metric-value.text-left.ellipsis
  = calculated { nest card.value_card, view: :pretty }
.small.pt-1.w-100
  %span.text-muted.ellipsis.d-inline-block{title: render_legend_core }
    = render_legend
  %span.pull-right
    %span
      = render_flags
    %span.metric-year.text-muted.pl-2
      %i.fa.fa-calendar
      = card.year
