- haml_wrap do
  .panel-default.stick-right#source-preview-main
    #source-form-container
      .col-md-6.col-centered.text-center.text-vertically-centered.light-grey-color-2._blank_state_message
        %br
        %strong
          %p
            How to Research an Answer
          %ol.text-left
            %li Choose a company, metric, and year.
            %li Look for the answer to the metric's question in suggested (or other) sources.
            %li Enter the answer and supporting comments
            %li Cite the source
            %li Submit!
          
