/**/Dockerfile
/**/docker-compose.yml
.github
.semaphore
.gitignore
.gitmodules
/.git
/.bundle
/.byebug_history
/.ruby-version
/node_modules
/cypress/screenshots
/log/*
/files/*
/tmp/*
/public/*
/coverage/*
/backups
/script/metric/data/*
/.idea*
spec/examples.txt
/**/.DS_Store
!/**/.gitkeep
/**/*.iml
aws-secret.yml
cypress/videos
/.vscode
.env
