[submodule "vendor/mods"]
	path = vendor/mods
	url = https://github.com/decko-commons/card-mods
[submodule "vendor/decko"]
	path = vendor/decko
	url = https://github.com/decko-commons/decko
        branch = wikirate
