[submodule "vendor/decko"]
	path = vendor/decko
	url = https://github.com/decko-commons/decko
	branch = main
[submodule "vendor/card-mods"]
	path = vendor/card-mods
	url = https://github.com/decko-commons/card-mods
[submodule "mod/wikirate/vendor/slick"]
	path = mod/wikirate/vendor/slick
	url = https://github.com/kenwheeler/slick.git
[submodule "vendor/wikirateproject"]
	path = vendor/wikirateproject
	url = https://github.com/wikirate/wikirateproject.git
  depth = 2
