/.bundle
/.byebug_history
/.ruby-version
/config/*.yml
/config/*.tgz
/config/deploy**
/config/application.rb
/config/environments
/log/*
/files/*
/tmp/*
/public/*
/coverage/*
/backups
/script/metric/data/*
/.idea
spec/examples.txt
/**/.DS_Store
!/**/.gitkeep
/**/*.iml
