--color
--profile
--backtrace
--default-path "mod"
--require "./spec/spec_helper"
--pattern "{mod/*,vendor/card-mods/card-mod-{bookmarks,new_relic,csv_import,solid_cache}}/spec/**/*_spec.rb"
\\--format documentation

