.w-100.grouped-record-list
  - latest_answer = Card.fetch [name, year.to_s], new: {}
  - if answer_count > 1
    .float-end
      = answer_count_badge :year, answer_count
  = nest_item latest_answer, view: :bar
