.w-100.grouped-record-list
  - latest_answer = Card.fetch [name, latest_year.to_s], new: {}
  - if year_count > 1
    .float-end
      = answer_count_badge :year, year_count
  = nest_item latest_answer, view: :bar
