.answer-results-container{ class: (scrollable? ? "hscroll-answer-results" : "") }
  .answer-results-inner-container
    = render_sorting_header optional: :show
    .answer-result-items
      = results