.sorting-header.bg-light.row.p-2.my-2
  - sort_columns.each do |field, cols|
    .sorting-header-section.d-flex.align-items-center.fw-bold{ class: "col-#{cols}" }
      .sort-title.me-2
        = sort_title field
      ._sort-buttons.sort-buttons.d-flex.flex-column
        - %w[asc desc].each do |dir|
          %a{ data: { sort_by: field, sort_dir: dir }, href: "#" }
            = icon_tag :"sort_#{dir}ending"
