._unknown-checkbox.pt-4
  = check_box_tag "_unknown", ::Record::UNKNOWN, card.unknown_value?
  %label.ms-3{ for: "_unknown" }
    = ::Record::UNKNOWN
    = popover_link "cannot find record in source document"
