._unknown-checkbox.pt-4
  = check_box_tag "_unknown", ::Answer::UNKNOWN, card.unknown_value?
  %label.ms-3{ for: "_unknown" }
    = ::Answer::UNKNOWN
    = popover_link "cannot find answer in source document"
