%span.text-nowrap
  - if bookmark_count.positive?
    %span.join-bookmark{ data: { toggle: "popover",
                                 title: "Bookmarks",
                                 content: join_bookmark_text } }
      = fa_icon "bookmark"
      = bookmark_count
  .d-inline-block
    = join_link