.cc-license
  WikiRate's content is licensed under
  = link_to("CC BY 4.0", href: "https://creativecommons.org/licenses/by/4.0/") + ","
  and its database infrastructure is licensed under
  = link_to("CC BY 4.0", href: "https://creativecommons.org/licenses/by-sa/4.0/") + "."
