.cc-license
  Wikirate's content is licensed under
  = link_to("CC BY 4.0", target: "_legal",
                         href: "https://creativecommons.org/licenses/by/4.0/") + ","
  and the database infrastructure under
  = link_to("CC BY-SA 4.0", target: "_legal",
                            href: "https://creativecommons.org/licenses/by-sa/4.0/") + "."
  Read more about
  = link_to("licensing", target: "_legal", href: "https://wikirate.org/Licensing") + "."
