%div.container.w-50.m-auto.pt-3.pb-3
  .row.text-center.topic-header.drop-shadow
    %a.inherit-anchor.w-100{:href => path}
      .img-thumbnail
        = field_nest :image
    %a.inherit-anchor.w-100{:href => path}
      %h3
        = _render_title
    .row.pl-2
      %a.text-dark.w-100{:href => path}
        %strong.number
          = field_nest :metric, view: :count
        %small.number-label.text-muted Metrics
      %a.text-dark.w-100{:href => tab_url("companies")}
        %strong.number
          = field_nest :wikirate_company, view: :count
        %small.number-label.text-muted Companies
