- if card.content.present?
  .py-2.api-key-helper
    %p.alert.alert-secondary
      The key above can be used to access Wikirate's REST API as
      %strong
        = card.accounted.name
      without a browser session. You can add the
      %strong.text-monospace api_key
      param to query strings or to request headers.
      Or, for faster authentication, you can use this key to
      = render_token_link + ";"
      the token can then be passed via the
      %strong.text-monospace token
      param. Tokens expire after two days.
      For more information see
      %a{ href: "https://app.swaggerhub.com/apis-docs/Decko/WikiRate/" }<
        our SwaggerHub docs.

- tracking = api_tracker_card.content == "yes"
.py-2.api-tracker-helper
  .alert{ class: tracking ? "alert-info" : "alert-warning" }
    Allowing Google Analytics helps Wikirate understand how its API is used,
    so that we can continue to improve it. All data is anonymized in accordance with our
    %a{ href: "https://wikirate.org/Terms_of_Use" }
      Terms of Use.

    - if tracking
      .mt-2.fst-italic
        Thank you for supporting Wikirate by allowing use to use analytics to
        study API use!