.d-flex.flex-column
  .d-flex.justify-content-between
    = render :minor_labeled_badges
  .horizontal-list.d-flex.justify-content-between
    = field_nest :wikirate_topic, items: { view: :link, type: "Topic" }
