.minor-badges.mt-2.mb-2
  = render_minor_bs_badges
.horizontal-list
  = field_nest :wikirate_topic, items: { view: :link, type: "Topic" }
= field_nest :description, view: :titled, title: "Description"
