%fieldset.card-editor.editor
  %div{:role => "tabpanel"}
    %input#card_subcards___metric_type_content.card-content.form-control{:name => "card[subcards][+*metric type][content]", :type => "hidden", :value => ""}
    %label Metric Type
    .help-block.help-text
      %p There are four "metric types."  Choose one to learn more
    %ul.nav.nav-pills.grey-nav-tab{role: "tablist"}
      - tabs.each_with_index do |metric_type, i|
        %li.pointer-radio.if{:class => "#{'active' if selected_tab_pane?(metric_type)}", :role => "tab"}
          %label.tab-primary{"data-target" => "##{tab_pane_id metric_type}"}
            %input.pointer-radio-button{:id => metric_type, :name => "intervaltype", :type => "radio", :value => metric_type, :checked => i.zero?}
              = metric_type
/ Tab panes
.tab-content
  - tabs.each do |metric_type|
    = new_metric_tab_pane metric_type
