%section.container.research-record
  %a.record-breadcrumb-link._to_question_phase.mb-5.d-block{ href: "#" }
    = nest record, view: :breadcrumb
  .py-2
    = nest record, view: :read_form_with_button, unknown: :simple_new
