.border.border-danger.text-center.p-3
  %h1 Rats!
  %h2.alert-danger 500 Server Error
  .p-5
    = nest :wikirat, view: :core, size: :large
  %h4
    Looks like WikiRat's been gnawing on cables.
    Don't let him get away with it.
  %p.p-3
    %a.btn.btn-danger{href: "/new/Ticket"}
      Ticket the Rat!
  %p.font-italic
    Nota Bene: WikiRat has never been photographed.
    The innocent mouse pictured above was merely washing himself and was in no way made to feel shame.