.new-formula-form
  %h3.pb-5
    New
    = card.metric_type_id.cardname
    Metric
  .new-formula-main
    = field_nest card.formula_field, view: :content_formgroups
  .new-formula-buttons
    = submit_button text: "Save as Metric", class: "submit-button", value: "formulated"