.border-none {
  border: 0 !important;;
}
.popover {
  // width: 400px !important;
  max-width: 50% !important;
}
.formula-editor-table, .wikiRating-editor-table {
  .row > div {
    padding: 0.5em 1em;
    border: 1px solid $gray-200;
  }
  .formula-sample-value-cell {
    background-color: $gray-200;
  }
  input {
    max-width: 90%;
  }
}
.formula-options-editor {
  .row {
    padding: 1.5em 0;
    border-bottom: 1px solid $gray-300;
  }
  h3 {
    margin-top: 0 !important;
    padding-top: 0;
  }
  .vo-radio {
    display: flex;
    input {
      margin-right: 1em;
      margin-top: 0.2em;
    }
  }
}
.sample-result-box {
  padding: 0 !important;
  border: 1px solid $gray-200;

  > div {
    padding: 1em;
  }

  .sample-result-value {
    background-color: $gray-200
  }
}