- cols = details_tab_cols
.row.mt-3.mb-5.details-tab-row
  .col-12.pe-4.details-tab-left{ class: "col-md-#{cols[0]}" }
    = render_details_tab_left
  .col-12.ps-4.details-tab-right{ class: "col-md-#{cols[1]}" }
    = render_details_tab_right
