// defaults

$bar_stripe_color: $gray-700;
$box_stripe_color: $gray-700;

/*------ Badges ---------*/

.badge {
  display: inline-block;
  align-items: center;
  padding: 0.1rem 0.4rem;
  line-height: inherit;
}

.labeled-badge {
  display: inline-flex;
  text-align: center;
  padding: 1px;
  label {
    margin: 0;
    padding: 0 0.33rem;
    .count-badge-label-icon {
      display: none;
    }
  }
}

.bar .labeled-badge {
  span {
    font-size: 0.6em;
  }
  label {
    font-size: 0.8em;
  }
}

@mixin badge-icons() {
  .labeled-badge label {
    .count-badge-label-icon {
      display: block;
      width: 22px;
    }
    .count-badge-label-text {
      display: none;
    }
  }
  //@include media-breakpoint-down(sm) {
  //  padding: 0;
  //}
}

.filter-result-badges {
  display: flex;
  padding: 2px 0;
  //justify-content: flex-end;
  max-height: 1.8em;
  .labeled-badge {
    label {
      .count-badge-label-icon, .count-badge-label-text {
        display: inline-block;
      }
    }
    padding-left: 10px;
  }
}

/*----------- Bars and Boxes -------------*/


.bar {
  @include badge-icons();
  .thumbnail {
    align-items: center;
  }
}

.bar:hover {
  border-left-color: $primary;
}


.bar-left a {
  &, .bar-left {
    font-weight: 600;
  }
  color: inherit;
}

@include media-breakpoint-down(sm) {
  .bar-left h5 {
    font-size: 1em;
  }
}

.box-top {
  h1, h2, h3, h4, h5, h6 {
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
  }
  h6 {
    font-size: 1em !important;
  }
}

.box-item {
  transition: all 0.2s ease-out;
  &:hover {
    -webkit-box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 9px 20px rgba(0, 0, 0, 0.2);
  }
}
a.box-item {
  text-decoration: none;
}

.box-bottom {
  @include badge-icons();
}

// MOVE rules below to type-specific sheets?


