//floating sidebar

.details-close-icon {
  margin: 0px;
  padding: 0 0 3px 3px;
  cursor: pointer;
  font-size: 22px;
}

.details-toggle:hover {
  background-color: $gray-100;
  cursor: pointer;
}

.details-header > .media {
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
  h5.media-heading {
    border: 0;
  }
}

.details {
  display: none;
  position: fixed;
  z-index: 3;
  top: 70px;
  left: 50%;
  padding-bottom: 100px !important;
  padding: 1rem;

  width: 50%;
  height: calc(100% - 70px);

  cursor: auto;
  overflow-y: auto;

  background-color: $white;
  border: 1px solid $gray-200;
  @include box-shadow(0,0px,14px,rgba(0,0,0,.22));
}

.modal-dialog .details {
  position: static;
  width: 100%
}

.details-toggle.active {
  @include box-shadow(0,0px,14px,rgba(0,0,0,.22));
}

.TYPE_PLUS_RIGHT-metric-answer {
  .details-toggle.active .header {
    border-left-color: $company-color !important;
  }
  .details {
    border-top: 5px solid $company-color !important;
  }
}

.TYPE_PLUS_RIGHT-company-answer {
  .details-toggle.active .header {
    border-left-color: $metric-color !important;
  }
  .details {
    border-top: 5px solid $metric-color !important;
  }
}

#answer-table-view td {
  width: 33%;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .details {
    top: 65px !important;
    position: fixed !important;
    left: 0% !important;
    width: 100% !important;
  }
  .details-top .record-buttons a {
    font-size: 0.6em;
  }
}

.details-top {
  .record-details {
    width: 100%;
  }
  .record-buttons {
    > * {
      display: inline-block;
    }
    a {
      margin: 0 0.5em 0.5em 0;
    }
  }
  .other-year-links a {
    color: $text-muted;
  }
  .value-details {
    padding: 1em;
    background-color: rgba($primary, 0.1);
  }
  .full-page-link i {
    font-size: 1.5em;
    margin-left: 1em;
  }
  border-bottom: 1px solid $border-color;
  margin-bottom: 1em;
}

.details_sidebar-view .year-and-value {
  cursor: pointer;
}



