%footer.container-fluid.bg-light.border-top.py-5.homepage-footer
  .row
    .col-12.col-md.text-center
      .navbar-brand.p-0.nav-logo
        = nest :wikirate_grey_logo
    - nav_menus.merge(secondary_menus).each do |header, items|
      = haml_partial :footer_menu, header: header, items: items
    .col-6.col-md.mr-3
      = nest :partner_logos
