.box
  .card.col-3.float-left.m-1.p-0.drop-shadow.rounded-0.top-border-default
    .box-top.border-bottom.p-2
      = render :box_top
    .box-middle.border-bottom.p-2
      = render :box_middle
    .box-bottom.p-2
      = render :box_bottom
