.sdg-quick-filters
  %span
    SDGs:
  = help_link sdg_help_text
  - topic_ids.each_with_index do |topic_id, index|
    - sdg_num = index + 1
    - topic_name = topic_id.cardname
    %a{ "data-filter": JSON(wikirate_topic: topic_name),
        href: "#",
        class: "quick-filter-by-sdg#{sdg_num}",
        title: "Quick Filter: #{topic_name}" }
      = sdg_num
