.d-flex.container.text-white.justify-content-between.align-items-center.px-5
  .container.text-center.p-2
    = nest :alert_banner, view: :core
  .button._close-alert-button.close-alert-button
    = icon_tag :close