.homepage-background.bg-pan-right.py-5
  #homepage-search-container.container.d-flex.h-100.align-items-center.py-5
    .mx-auto.text-center.py-5
      = section_header :homepage_search_heading, header_size: :h1