.homepage-background.bg-pan-right.py-5
  .container.py-5
    .row.py-5
      .col-9.d-flex.align-items-center
        .homepage-banner-content
          = section_header :homepage_banner, header_size: :h1
      .col-3.d-flex.align-items-center.justify-content-end
        %a.btn.btn-primary.d-flex.align-items-center{ href: "/new/:signup"}
          = icon_tag :signup
          %span.ps-2
            Sign up now