= section_header :homepage_designers_heading
.row.py-5
  - %i[designer featured].card.item_cards.each do |designer|
    .col-2
      = nest designer, view: :thumbnail, size: :medium
      .py-3.small
        .homepage-metrics-designed
          //With
          = designer.metrics_designed_card.count
          metrics designed
        - if (pcount = designer.projects_organized_card.count) > 0
          .homepage-projects-organized
            //And
            = pcount
            projects organized