.homepage-involved.mt-5
  = section_header :homepage_involved_heading do
    - render_nav_arrows
    
  .py-5
    .homepage-involved-cards{ data: {
      slick: { infinite: false,
               # centerMode: false,
               slidesToShow: 3,
               prevArrow: ".homepage-involved .wr-prev",
               nextArrow: ".homepage-involved .wr-next",
               responsive: [
                 { breakpoint: "992", settings: { slidesToShow: 2 } },
                 { breakpoint: "768",  settings: { slidesToShow: 1 } }
               ]}.to_json
    } }
      - %i[homepage blurb].card.item_cards.each do |blurb|
        = nest blurb, view: :action_card
