.homepage-involved
  = section_header :homepage_involved_heading do
    - render_nav_arrows
    
  .py-5
    .homepage-involved-cards{ data: {
      slick: { #infinite: false,
               centerMode: true,
               slidesToShow: 3,
               prevArrow: ".homepage-involved .wr-prev",
               nextArrow: ".homepage-involved .wr-next",
               responsive: [
                 { breakpoint: "992", settings: { slidesToShow: 2 } },
                 { breakpoint: "768",  settings: { slidesToShow: 1 } }
               ]}.to_json
    } }
      - involved_links.each do |title, url|
        %a{ href: url }
          .card.nav-card.justify-content-between
            %h3.card-title
              = title
            .text-end
              %i.fas.fa-arrow-right

