%h1 Empowering people with open ESG data
.lead Sustainability data across 128,000+ companies and over 3 million data points.
.py-5
  = nest :search, view: :search_box
.home-search-suggestions
  Hot searches:
  - %i[search featured].card.item_names.each do |keyword|
    %a._hot-keyword.btn.btn-outline-secondary.mx-2
      = keyword