%section#homepage-search-section
  -# .video-container.w-100
    -# %video{ id: "home-video", preload: "", autoplay: "", muted: "", playsinline:"", loop: "" }
    -#   %source{ src: "mod/wikirate/homepage_bg_video.mp4" }
    -#  .front-of-video.container-fluid.position-absolute

  .homepage-background.bg-pan-right.py-5
    #homepage-search-container.container.d-flex.h-100.align-items-center.py-5
      .mx-auto.text-center.py-5
        = section_header :homepage_search_heading, header_size: :h1
        .homepage-search-box
          = nest :search, view: :search_box
        .home-search-suggestions
          Popular searches:
          - %i[search featured].card.item_names.each do |keyword|
            %a._hot-keyword.btn.btn-outline-primary.m-2
              = keyword