.top-banner-wrapper.text-white.banner-background
  .container.banner-lead.text-center.mt-0
    %span.wikirate-logo-title
      Wiki
      %strong> Rate
    %p.lead.mb-0.mb-md-5.text-nowrap Let's make companies better, together.
    .dynamic-question.text-white.pt-5.mt-0.mt-md-5

