.px-5{ data: {
    "slick-selector": ".card-list-thumbnail",
    slick: { infinite: false,
             slidesToShow: 8,
             arrows: false,
             slidesToScroll: 1,
             # variableWidth: true,
             responsive: [
               { breakpoint: "1400", settings: { slidesToShow: 7, arrows: true } },
               { breakpoint: "992",  settings: { slidesToShow: 5, arrows: true } },
               { breakpoint: "768",  settings: { slidesToShow: 4, arrows: true } },
               { breakpoint: "576",  settings: { slidesToShow: 2, arrows: true } }
             ]}.to_json
  } }
  = nest %i[cardtype featured],
           view: :core,
           items: { view: :thumbnail, variant: :plural, size: :medium }