.sidebar-nav {
  .btn .fas:before {
    content: "\f105";
    transition: transform 0.35s ease;
    transform-origin: .5em 50%;
  }
  .btn[aria-expanded="true"] .fas {
    transform: rotate(90deg)
  }
}

.SELF-guide-list .item-box {
  min-width: 340px;
}

.guide-support {
  h4 {
    padding: 0;
    margin: 0 !important;
  }
}

// guide images
.TYPE_PLUS_RIGHT-guide-body {
  img {
    max-width: 100%;
    max-height: auto;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem auto;
    box-shadow: 0 5px 10px 0px rgba(45,35,116,0.12);
  }
}

.wr-infobox {
  background: $gray-200;
  padding: 2rem;
  border-radius: 6px;
  border-left: 8px solid $gray-700;
  margin: 1rem 0;
}
