.details-top.mb-3.d-flex.justify-content-between
  .detail-year-and-value.w-50
    = render_year_and_value_pretty
    .record-years
      = render_record_links
  .details-chart
    = render_chart
  = render_full_page_link
