= nest [:wikirate_company, :search], view: :titled,
                                     title: "Companies",
                                     items: { view: :info_bar }
= nest [:wikirate_topic, :search], view: :titled,
                                   title: "Topics",
                                   items: { view: :info_bar }
= nest [:metric, :search], view: :titled,
                           title: "Metrics",
                           items: { view: :info_bar }
