
.card-list-flipper {
  display: flex;
  flex-wrap: wrap;

  .item-flipper {
    display: flex;
    width: 33%;
    height: 200px;
    perspective: 600px;
    padding: 1%;
  }
}

.two-flippers .card-list-flipper .item-flipper {
  width: 50%;
}

.flip-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  background: white;
  position: relative;
  box-shadow: $box-shadow-sm;
  &:hover {
    box-shadow: $box-shadow-lg;

  }
  .card-face {
    padding: 1em;
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    background: $white;
    &.back {
      transform: rotateY(180deg);
    }
  }

  &.flipped {
    transform: rotateY(180deg);
  }

  i.material-icons {
    font-size: 4em;
    color: $orange;
  }

  .faint-icon {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    opacity: 0.3;
    bottom: 5px;
    right: 2em;
    overflow: hidden;
    z-index: -1;
  }
}

.flipper-title {
  padding-top: 40px;
  align-items: center;
  .flipper-title-text {
    font-size: 1.7em;
    color: $purple;
  }
}

.flipper-title-icon {
  text-align: center;
}

.teal-flippers i.material-icons {
  color: $teal;
}
