.thumbnail.d-block{ data: wrap_data, class: card.safe_set_keys }
  .thumbnail-title.d-flex{ title: card.name }
    = thumbnail_title
    .thumbnail-title-right
      = metric_type_details
  .thumbnail-subtext.d-flex
    = render_thumbnail_subtitle
