
.RIGHT-activity.titled-view .activity {
  color: $user-color;
  margin-bottom: 5px;
  overflow-x: hidden;
  .glyphicon {
    font-size: 8px;
    vertical-align: middle;
    margin-top: -3px;
  }
  div {
    display: inline-block;
  }
}

.badges-earned .vertical {
    padding: 0;
}

.contributions-about-link {
  padding: 14px 12px;
  position: absolute;
  color: $gray-500;
  font-size: 12px
}

// .open-view.RIGHT-showcase .card-frame {
//   padding-bottom: 40px;
//   margin-bottom: 0px;
// }

.contribution-report-toggle {
  a > span {
    padding: 14px;
  }
}

.company-profile-tab {
  position: absolute;
  bottom: 10px;
  min-width: 60%;
  text-align: center;
}


.TYPE-cardtype > .d0-card-header,
.feature-page-header .d0-card-header {
  .d0-card-header-title {
    .card-title {
      display: flex;
      align-items: center;
      i.wr-icon {
        margin-right: 0.7em
      }
    }
  }
}


/*----------- Media queries ---------*/


@media all and (max-width: 990px) {
  .contributions-about-link {
    position: relative;
  }
}
