%section.container-fluid.bg-light
  .container.p-5.py-3
    = render_breadcrumbs
    .py-5.d-flex.flex-wrap.justify-content-between
      .w-50
        %h1
          Open data is not the ultimate goal.
          It is a means to an end.
        .lead
          WikiRate data is used in diverse projects to help address the world's social
          and environmental challenges
      //= field_nest :general_overview, view: :content

      .text-end
        %a.btn.btn-lg.btn-primary{ href: "/new/Project" }
          Add Project

%section.p-5.container
  = nest Card.fetch([:output, :type, :by_update]), view: :core, items: { view: :box }

%section.container-fluid.bg-light.p-5
  .container.p-5
    .bg-light.p-5.d-flex.flex-wrap.justify-content-between
      .w-50
        %h2 Contribute your project
        .lead
          Are you using WikiRate data and want to share...
      .text-end
        %a.btn.btn-lg.btn-primary{ href: "/Use_our_Api" }
          Get in touch
