%header.jumbotron.jumbotron-fluid
  .container
    %h1
      = render_title
    .lead
      = field_nest :description, view: :content
%main.container.py-5
  .guide-list.p-4
  = field_nest :list, type: :list, items: { view: :box }