%header.jumbotron.jumbotron-fluid
  .container
    %h1
      = render_title
    .lead
      = field_nest :description, view: :content
%main.container.py-5.position-relative
  .pb-5
    = render_menu
  .guide-list.py-2
    = field_nest :list, type: :list, items: { view: :box }