.freshen-button._freshen-button.pr-2.py-1.mt-1
  %a.btn.btn-sm.btn-outline-secondary{ href: freshen_path,
                                       class: "slotter",
                                       "data-slot-selector": ".source_selector-view",
                                       "data-remote": true,
                                       title: freshen_title }
    %i.fa.fa-clone{"aria-hidden" => "true"}
