- card_link_data = wrap_data.merge card_link_url: card.uri
.action-card
  .card.justify-content-between._card-link.nodblclick{ data: card_link_data }
    .card-body
      %h4.card-title
        = field_nest :title, view: :core
      .py-3
        = field_nest :body, view: :core
    .text-end
      = icon_tag :next
