.d-flex.flex-column.align-items-center
  .stack-image
    = field_nest :image, view: :core, size: :small
  %h4.stack-title.my-2
    = field_nest :title, view: :core
  .stack-body.p-2
    = field_nest :body, view: :core
