.row.mt-3.mb-5
  .col-md-8.col-12.pe-4
    .mb-4
      = field_nest :about, view: :titled, title: "About the data"
    - if card.calculated?
      .mb-4
        = render_formula
    - if card.researchable?
      .mb-4
      = field_nest :methodology, view: :titled
  .col-md-4.col-12.ps-4
    = render_metric_properties
