.constraint-value-fields
  = filter_input_field :value, value
- if metric.relationship?
  .constraint-related-group
    .input-group-text
      Related Company Group
    = filter_input_field :related_company_group, group
