#email-header.text-center.mb-3
  .email-logo
    %a{ href: card_url("/"), style: "display: inline-block; max-width: 90px" }
      %img{ src: card_url("/mod/wikirate/logos/wikirate-sm.png"),
            alt: "Wikirate Logo" }
  .email-logo-claim Let's make companies better, together.
