.d-flex.flex-column.align-items-center.mb-4
  .text-center.w-25{style: "max-width: 90px"}
    %a{ href: "/" }
      = field_nest :logo, view: :core, size: :medium
      // FIXME - noncodename
  %p.mt-3.fs-5 Let's make companies better, together.
