#email-header.text-center.mb-3
  .email-logo
    %a{ href: "/", style: "display: inline-block; max-width: 90px" }
      = field_nest :logo, view: :core, size: :medium
  .email-logo-claim Let's make companies better, together.
