.thumbnail{ data: wrap_data(false), class: card.safe_set_keys }
  = render_thumbnail_image
  .thumbnail-text
    .thumbnail-title{ title: card.name }
      = thumbnail_title
    = render_thumbnail_subtitle