.import-map-header.py-2
  %h4
    Mapping
  .lead
    Ensure items in file are mapped to WikiRate content.

.import-map-body
  .import-map-legend.float-right.d-flex.align-items-center.flex-column.p-1.bg-light.my-3
    .tab-badge.count-number.clearfix
      %span.badge.badge-secondary
        \# unique
    .light-grey-color-2
      (# mapped)

  = render_tabs
