// %h5
//  = Card[map_type.to_sym].name

%table.wikirate-table.import-table
  %thead
    %tr
      %th
        in File
      %th
        on WikiRate
  %tbody
    - card.map[map_type].each do |name_in_file, cardname|
      %tr{ class: (cardname ? "" : "unmapped-import-cell") }
        %td.in-file
          = name_in_file
        %td
          - if cardname.present?
            = nest cardname, view: item_view(map_type)
          - else
            = map_ui map_type, name_in_file
.d-flex.justify-content-end.py-3
  %span
    Export:
    = export_link map_type