.answer-value-and-legend.text-end.w-100
  .ellipsis{ title: card.value }
    = link_to_card card, nest(card.value_card, view: :pretty)
    %span.text-muted.small{ title: card.format(:text).render_legend }
      = render_legend
