.answer-example.drop-shadow.bg-white
  .company-border-left
    = nest card.company, view: :shared_header, size: :medium
  .metric-border-left
    = nest card.metric, view: :shared_header, size: :medium
  .metric-border-left
    = render_year_and_value_pretty
  .source-border-left.border-bottom
    .row
      .col-2
      .col-10.ps-2
        = nest card.source_card, items: { view: :compact, hide: :creator_credit }
