.answer-example.container.drop-shadow.bg-white
  .company-border-left.row
    = nest card.company, view: :shared_header, size: :medium
  .metric-border-left.row
    = nest card.metric, view: :shared_header, size: :medium, hide: :bookmark
  .metric-border-left.row
    .container
      = render_year_and_value_pretty
  .source-border-left.row.border-bottom
    .mt-1.text-center.col-2.px-0.pt-3
    .col
      = nest card.source_card, items: { view: :compact, hide: :creator_credit }
