%section.p-5
  = field_nest :general_overview, view: :content
%section.p-5
  = field_nest :blurb, view: :content, items: { view: :stack }
%section.bg-light.p-5
  %h2.text-center Community in Numbers
  \...
-#%section.p-5
-#  %h2 Community Stories
-#  ...
%section.p-5
  %h2.text-center Community Members
  \...
= nest :contact_us, view: :section
