.constraint-value-fields
  = filter_input_field :value, default: value, compact: true
- if metric.relation?
  .constraint-related-group
    .input-group-text
      Related
    = filter_input_field :related_company_group, default: group, compact: true
