.alert.alert-warning.text-center
  Editing in progress!
%p.p-3
  Are you sure you're ready to move to a new record?
.button-form-group.justify-content-around.w-100.d-flex
  %a.btn.btn-outline-secondary._yes_leave._close-modal{ href: "#", "data-dismiss": "modal" }
    Yep!
  %a.btn.btn-primary._dont_leave._close-modal{ href: "#", "data-dismiss": "modal" }
    Whoops. Nope.