.research-select-year.d-flex.justify-content-center.py-3
  .w-50
    - years[0..4].each do |year|
      = haml_partial :year_option, year: year
    - if years.size > 5
      #moreYears.collapse
        - years[5..-1].each do |year|
          = haml_partial :year_option, year: year
      .d-flex.py-5.justify-content-between
        %a._more-years-toggle{ "aria-expanded": "false",
                               "aria-controls": "#moreYears",
                               "data-toggle": "collapse",
                               href: "#moreYears",
                               class: "btn btn-outline-secondary btn-research" }
          %span._more-or-fewer
            More
          years
        %a#_select_year{ href: "", class: "btn btn-primary btn-research" }
          Select year


