- haml_wrap(true) do
  - if voo.show? :chart
    .row
      .vega.col-12.col-xl-9.p-0.text-center
        = _render_chart
      .col-12.col-xl-3.pt-xl-4
        %h6 Filtered answers
        = _render_stats
  = render_table
  = render_export_links
