.source-selector
  .source-selector-header
    .container.d-flex.justify-content-between.py-3.align-items-center
      %h2 PDF Viewer
      %a.btn.btn-primary.btn-research
        Select Source
  .source-selector-body
    .container
      source here