.source-selector
  .source-selector-header
    .container.d-flex.justify-content-between.py-3.align-items-center
      %h2.m-0 Source viewer
      .source-selector-buttons.d-flex.align-items-center
        %a#_select_source.btn.btn-primary.btn-research{ href: "#", data: source_data }
          Select source
        .TYPE-source.ml-3
          = nest current_source, view: :meatballs
  .source-selector-body.container
    = nest current_source, view: :preview