.download-option.source-option
  .help-text.help-block.pt-2
    <em>Download</em> from the web
    %span.small.text-muted (HTML pages will be converted to PDF files)
  = web_editor
  .py-2
    or
    %a.toggle-source-option upload instead
    %span> .
.upload-option.source-option
  .help-text.help-block.pt-2
    <em>Upload</em> from your computer:
  = file_editor
  .py-2
    or
    %a.toggle-source-option download instead
    %span> .
