.d-flex
  = icon_tag :attribution
  .d-flex.ms-2.flex-column
    .fw-bold.align-items-center
      %span
        = nest [:attribution_alert, :title], view: :core
    %p.pt-2
      Thank you for giving credit to our community! Sharing your information about how and where you use the data helps us all see the impact of our efforts.
