.d-flex.mb-3.align-items-stretch
  .p.clipboard._clipboard.ps-3.p-2.rounded-start.flex-fill
    = content
  %button.attribution-button._attribution-button.btn.btn-primary{ type: "button", "data-bs-toggle": "button" }
    Copy
    %span.ps-1
      = icon_tag :clipboard
