.small.text-center.w-100
  Got a question? Learn more about
  // FIXME: should be relative, codename-based url
  - url = "https://wikirate.org/Attribution_Guide"
  %a.link.text-decoration-underline.fw-bold{ href: url }
    how to attribute.