.panel-default.nodblclick.stick-left#metric-container
  .row
    .heading-label
      Company
    = _render_thumbnail

  .row.background-grey
    .heading-label
      Metrics
    = wrap_project
    = process_metrics
.panel-default.stick-right
