.panel-default.nodblclick.stick-left#metric-container
  - if project?
    .row
      .border-bottom.col-md-12.nopadding.panel-default
        .heading-label.panel-heading
          Project
        %h5.padding-20
          = nest project, view: :thumbnail
  .row
    .border-bottom.col-md-12.nopadding.panel-default
      .heading-label.panel-heading
        Company
      %h5.padding-20
        = nest companies.first, view: :thumbnail

  .row.panel-default.metric-list
    .border-bottom.col-md-12.nopadding.panel-default
      .heading-label.panel-heading
        Metrics
      = process_metrics

= render_haml :source_side
