-# card content of metric_value_source_form
-# not used in code yet
-# don't know how we get it
-# probably somewhere in script_metric_value.js.coffee
.row
  %br/
  %br/
  %br/
  %br/
  .col-md-6.col-centered.text-center.light-grey-color-2
    %p
      Source Preview Container
    %p
      You can add or select a source from the metric form to preview here
.col-md-12.col-centered.new-source-widget.new-metric-value-page
  .row
    .new-source-tab.w-100
      %ul#myTab.nav.nav-pills{ role: "tablist" }
        %li.active{ :role => "presentation" }
          %a#url-tab{ "aria-controls" => "url", "aria-expanded" => "true",
                      "data-source-type" => "Link", "data-toggle" => "tab",
                      href: "#url", role: "tab" }
            %i.fa.fa-globe
            URL
        %li{ role: "presentation" }
          %a#file-tab{ "aria-controls" => "file", "aria-expanded" => "false",
                       "data-source-type" => "File", "data-toggle" => "tab",
                       href: "#file", role: "tab" }
            %i.fa.fa-upload
            File
        %li{ role: "presentation" }
          %a#text-tab{ "aria-controls" => "text", "aria-expanded" => "false",
                       "data-source-type" => "Text", "data-toggle" => "tab",
                       href: "#text", role: "tab" }
            %i.fa.fa-pencil
            Report
    .tab-content#myTabContent
      .tab-pane.fade.active.in#url{ "aria-labelledby" => "url-tab",
                                    role: "tabpanel" }
        {{+Link|titled; title:URL}}
        %input{ name: "sourcebox", type: "hidden", value: "true" }/
      .tab-pane.fade#file{ "aria-labelledby" => "file-tab", role: "tabpanel" }
        {{+File|titled; title:File}}
      .tab-pane.fade#text{ "aria-labelledby" => "text-tab", role: "tabpanel" }
        {{+Text|titled; title:Text}}
  .row
    #source-preview-frame
  .row{ style: "display:none" }
    .first-meta.tab-content
      %button.btn.btn-default.btn-xs#suggest_button{ type: "button" }
        Suggest Title and Description
      {{+Title|titled; title:Title}}
      {{+Description|titled;title:Description}}
      .row-data.first-meta
        %a#add-company-and-topic{ href: "#" }
          %i.fa.fa-building-o>
          Add Company
      #company-topic-meta{ style: "display:none;" }
        {{+Companies|titled; title:Companies|link}}
      .row-data.first-meta
        %a#add-tags-other{ href: "#" }
          %i.fa.fa-tag>
          Add Topic, Date and other
      #tag-date-others-meta{ style: "display:none;" }
        {{+Topics|titled; title:Topics|link}}
        {{#+Tags|titled;title:Tags; item:link}}
        {{+Date|titled;title:Date}}
        {{+Website|titled;title:Website|link}}
  %div{ style: "display:none;" } {{+*source type}}
