.bar.no-bar-hover.w-100.d-flex
  .answer-group.grouped-metric-list.row.w-100.bar-body
    .col-8.bar-left
      = nest metric_id.card, view: :thumbnail
    .col-2.bar-middle
      = answer_count_badge :answer, answer_count
    .col-2.bar-right
      = answer_count_badge :year, year_count
  .bar-menu
    &nbsp;