.py-5
  = nest %i[policy type by_name], view: :core, items: { view: :box }

.py-3
  .card.mb-5.p-4
    .text-center
      Also see:
      %a{ href: "https://wikirate-intl.org/Policy" }
        policies and guidelines for WikiRate International e.V.

.py-5
  = section_header :policy_cta,
                   button: { url: "https://wikirate-intl.org/Contact_us",
                             text: "Get in touch", target: "_intl" }