.answer-breadcrumb
  %strong
    = card.year
  %span.breadknife
    |
  = company_name
  %span.breadknife
    |
  = metric_card.metric_title
  %span.breadknife
    |
  %span.breadcrumb-question
  = nest card.metric_card.question_card, view: :core, unknown: :blank
