%nav#top-navbar.navbar.bg-white.nodblclick
  .container
    .navbar-container
      .navbar-brand
        %a.full-wr-logo{ href: "/" }
          %img{ src: "/mod/wikirate/logos/wr_logo_full.svg" }

      .top-nav-links
        .top-nav-account
          - class_up "signin-link", "btn btn-primary"
          %ul.navbar-nav
            %li.nav-item
            = nest :account_links, view: :core
        .top-nav-burger
          = nest :nav_menu, view: :core

      .top-nav-search.search-box-nav
        = nest :search, view: :search_box
%section.container.sub-navbar.nodblclick
  = render_slider