#research-details .uncite-button,
.no-citation .cite-and-refresh-buttons,
.left_research_side-view .cite-and-refresh-buttons {
  display: none;
}

.pdf-source-preview, .webpage-preview {
  border-left: 3px solid rgba($source-color, 0.2);
  border-top: 1px solid $border-color;
}
.bar-view.active,
.details-toggle.active {
  .TYPE-source.bar, .pdf-source-preview, .webpage-preview {
    border-left-color: $source-color!important;
  }
}

.preview-view.TYPE-source {
  overflow: hidden;
  border: 1px solid $border-color;
}

.pdf-source-preview {
  // float: left;
  background: white;
  width: 100%;
  border-right: 1px solid $border-color;
  height: 100vh;
  iframe {
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
  }
  .TYPE_PLUS_RIGHT-source-text {
    margin-top: 55px;
  }
}

.source-item,
.source-extra {
  width: 80%;
}

.source-item {
  display: inline-block;
  background: $white;
  width: 100%;
  border: 1px solid $border-color;
  padding: 10px;
  margin-bottom: 10px;

  .source-icon {
    width: 1%;
    margin: 0 10px;
    float: left;
    visibility: hidden; //until we find a good icon
  }
  .source-content {
    float: left;
    width: 70%;
  }
  .source-link {
    color: $source-color;
    div {
      display: inline;
    }
    a {
      color: inherit;
    }
  }
  .source-website {
    .item-name {
      padding: 0;
    }
  }
}

.TYPE-source {
  &.box {
    min-height: 250px;
    .box-top {
      div, span, a {
        white-space: normal;
      }
    }
    > .box-middle {
      min-height: auto;
      i {
        font-size: 1rem;
        display: inline;
      }
    }
    > .box-bottom {
      padding-top: 0.2em;
      padding-bottom: 0.2em;
    }
  }
}

.open-view > .d0-card-frame > .d0-card-body.TYPE-source{
  padding-left: 0;
}

.upload-option {
  display: none;
}

a.toggle-source-option {
  font-weight: bold;
  color: $source-color !important;
}

.source-creator-credit {
  // border-bottom: 1px solid $div-border-color;
  font-size: 0.8em;
  margin-bottom: 5px;
  color: #ccc;

  .subtitle-header {
    float: left;
    padding-right: 6px;
  }

  a {
    color: $gray-500;
    font-weight: bold;
  }

  div {
    display: inline;
  }

  .item-link {
    padding: 0;
  }
}
