#metric-container.panel-default.nodblclick.stick-left
  .row
    .heading-label
      Company
    = _render_thumbnail

  .row.background-grey
    .heading-label
      Metrics
    - if project?
      .border-bottom.col-md-12.nopadding
        %h5.col-md-2
          Project:
        .col-md-10
          nest project, view: :core, structure: "initiative item"
    = process_metrics

- haml_wrap do
  #source-preview-main.panel-default.stick-right
    #source-form-container
      .col-md-6.col-centered.text-center.light-grey-color-2._blank_state_message
        %br
        %br
        %br
        %p
          You can add or preview source here.
        %p
          Please click 'add answer' to begin.
