._answer-board.answer-board
  .pb-2
    With these variables, we can calculate
    %strong._ab-total
    answers.
  .py-1
    Using sample inputs for
    %strong._ab-sample-size
    we currently get:

  %ul
    - %i[known unknown error].each do |group|

      %li.p-2{ class: "_ab-sample-#{group}" }
        %strong
          %span._result-count
          = group
        answers:
        ._formula-input-links.formula-input-links

  %em.pt-4 Click on any circle to use its sample inputs and see its result.