- help_text = capture_haml do
  .answer-board-help-text
    %p
      The
      %strong Total answer
      are determined by the variable metrics, their options, and the data currently
      available.

    %p
      %strong Unknown via options
      refers to answer that return "Unknown" before even reaching the formula due to
      the way the variable options are configured. For example, the default options
      configuration is to return an "Unknown" answer if
      %em any
      of the input variables are unknown. In such cases, the formula is irrelevant.

    %p
      To test the formula, we take a sample of inputs based on the variable configuration.
      The
      %strong Sampled answer
      can then be used to see how the formula is working.

    %p
      %em Hover over any circle
      to see the result value for the corresponding inputs.
      %em Click on any circle
      to populate the sample values in the variables table.

    %p
      In this context, an
      %strong error
      can refer to a mistake in formula syntax, a bad variable reference, or an illegal
      result, like Infinity or a blank string.
      The
      %strong unknown
      category refers to answer where the result value is literally the word "Unknown."
      All other answer are considered
      %strong known.


._answer-board.answer-board
  .pb-2
    %strong._ab-total
    Total answer
    = popover_link help_text

  .pb-2._ab-result-unknown
    %strong._ab-result-unknown-count
    Unknown via options

  .pb-2
    %strong._ab-sample-size
    Sampled answer:

  .px-5
    - %w[error unknown known].each do |group|
      .row{ class: "_ab-sample-#{group}" }
        .col-3
          %strong._result-count
          = group.capitalize
        .col-9._formula-input-links.formula-input-links
