.formula-editor-help
  %p
    WikiRate formulae are written in
    %em CoffeeScript,
    a pleasant-to-read language that gets turned into
    %em JavaScript
    (a less pleasant-to-read language) before being run.
