._formula-editor.formula-editor{ data: { metric_name: card.metric_name } }
  .row
    .col-8.formula-editor-main
      = editor_tabs

    .col-1.border-none
    .col-3.p-0
      .sample-result-box
        .sample-result-title
          Sample Result
        .sample-result-value._sample-result-value
      .mt-3.card-notice