.thumbnail-subtitle
  .subtitle-designer{ title: "Designer" }
    = nest card.metric_designer_card, view: :thumbnail_minimal, size: :icon
  .subtitle-scorer{ title: "Scorer" }
    = nest card.scorer_card, view: :thumbnail_minimal, size: :icon
