.header-with-bg {
  height: 360px;
  .wikirate-section-header {
    padding-top: 5%;
  }
}

#about-wikirate-header {
  background-image: url([[/mod/wikirate/backgrounds/header_about_wikirate.png]]);
  .wikirate-section-header {
    padding-top: 8%;
  }
}

#about-data-header {
  background-image: url([[/mod/wikirate/backgrounds/header_data.png]]);

}

#about-impact-header {
  background-image: url([[/mod/wikirate/backgrounds/header_impact.png]]);
}

#about-community-header {
  background-image: url([[/mod/wikirate/backgrounds/header_community.png]]);
}

#our-story-section {
  background-image: url([[/mod/wikirate/backgrounds/bg_about_story.png]]);
}

#wikirate-data-today {
  background: $light-teal;
}

.fancy-counts {
  .large-icon  i {
    font-size: 4rem;
    &.material-icons {
      padding: 1rem;
    }
  }
  .count-description {
    color: $gray-600 !important;
  }
}

.vertical-thumbnails {
  .thumbnail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .thumbnail-text {
      text-align: center;
      a {
        color: inherit !important;
      }
    }
  }
  .image-box {
    margin-bottom: 1em;
    margin-right: 0;
    border: none
  }
}

/*--- blurbs */

.card-list-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5em 0 !important;
}

.item-stack {
  width: 30%;
  margin: 1% !important;
}

.bg-light-purple {
  background: $purple-100;
}

.wikirate-section-header-right {
  display: flex;
  align-items: center;
}

.TYPE-output.box {
  border-top: 1px;
  .box-top {
    height: 150px;
    max-height: 150px;
    background-position: center;
  }
  .box-middle {
    display: block;
  }
  .box-bottom {
    border: none;
    background: white;
    .thumbnail {
      align-items: center
    }
  }
}

.action-card {
  height: 26em;
  .card {
    h4, a {
      color: $purple-grad-1;
    }
    padding: 1rem;
    background: $white;
    box-shadow: $box-shadow;
    border: 0;
    height: 85%;
    min-height: 300px;
    margin: 1.5rem;
    &:hover {
      h4, %i, a {
        color: $white !important;
      }
      color: $white;
      //cursor: pointer;
      background-color: $purple-grad-1;
    }
  }
}

#community-actions {
  .action-card .card {
    h4, a {
      color: $orange;
    }

    &:hover {
      background-color: $orange;
    }
  }
  .btn.wr-arrow {
    color: $orange;
    &:hover {
      background-color: $orange;
    }
  }
}


.btn.wr-arrow {
  color: $purple;
  background-color: $white;
  font-size: x-large;
  margin-left: 0.8em;
  padding: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background-color: $purple;
    color: $white;
  }
  box-shadow: $box-shadow
}
.justify-content-center .wr-arrow {
  margin: 0.4em;
}


.blurb-icon {
  background: $light;
  padding: 1em;
  border-radius: 50rem;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-card {
  background-color: $light-purple;
  .blurb-icon {
    background-color: $white;
  }
  a, i {
    color: $purple-grad-1 !important;
    font-weight: bold;
  }
}

#community-ctas .contact-cta-card {
  background-color: $white;
  .blurb-icon {
    background-color: $light-purple;
  }
}

#about-cta .cta-card {
  background-color: $blue;
  .blurb-icon {
    background-color: $light-purple;
    i {
      color: $purple-grad-1 !important;
    }
  }
  h4, a, i, & {
    color: $white !important;
  }
}

.icon-left-text-right .blurb-icon {
  color: white;
  background-color: $purple-grad-1;
  height: 5.2em;
  width: 5.2em;
  i {
    font-size: 2.5em;
  }
}
#our-values-section .blurb-stack .blurb-icon {
  color: $teal;
  background-color: $light-teal;
}

#special-data .blurb-stack .blurb-icon {
  color: $purple;
  background-color: $light-purple;
}

.answer-trending {
  padding: 0.2em 0.5em;
  border-radius: 0.3rem;
}
.answer-trending-down {
  background-color: $light-red;
  color: $red;
}
.answer-trending-up {
  background-color: $light-teal;
  color: $teal;
}
.answer-trending-flat {
  background-color: $gray-100;
}

.company-slides {
  .company-slide-detail, .thumbnail-text {
    display: none;
  }
  .slick-center {
    .company-slide-detail, .thumbnail-text {
      display: block;
    }
  }
}