$orange-grad-1: orange !default;
$orange-grad-2: orange !default;

.header-with-bg {
  height: 360px;
  .wikirate-section-header {
    padding-top: 5%;
  }
}

#about-wikirate-header {
  background-image: url([[/mod/wikirate/backgrounds/header_about_wikirate.png]]);
  .wikirate-section-header {
    padding-top: 8%;
  }
}

#about-data-header {
  background-image: url([[/mod/wikirate/backgrounds/header_data.png]]);

}

#about-impact-header {
  background-image: url([[/mod/wikirate/backgrounds/header_impact.png]]);
}

#about-community-header {
  background-image: url([[/mod/wikirate/backgrounds/header_community.png]]);
}

#our-story-section {
  background-image: url([[/mod/wikirate/backgrounds/bg_about_story.png]]);
}

#our-values-section {
  .d0-card-header-title {
    width: 100%;
    text-align: center;
  }
}

#wikirate-data-today {
  background: $light-teal;
}

.fancy-counts {
  .large-icon  i {
    font-size: 4rem;
    padding: 1rem;
  }
  .count-description {
    color: $gray-600 !important;
  }
  h1, a {
    color: $primary !important;
  }
}

.vertical-thumbnails {
  .thumbnail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .thumbnail-text {
      text-align: center;
      a {
        color: inherit !important;
      }
    }
  }
  .image-box {
    margin-bottom: 1em;
    margin-right: 0;
    border: none
  }
}

/*--- blurbs */

.card-list-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5em 0 !important;
}

.item-stack {
  width: 30%;
  margin: 1% !important;
  .blurb-icon {
    width: 80px;
    height: 80px;
    i {
      font-size: 40px;
    }
  }
}

.bg-light-purple {
  background: $light-purple;
}

.wikirate-section-header-right {
  display: flex;
  align-items: center;
}

.TYPE-output.box {
  height: 450px;
  .box-top {
    padding: 0;
    max-height: 202px;
  }
  .box-middle {
    min-height: auto;
    display: block;
  }
  .box-bottom {
    border: none;
    background: $white;
    .thumbnail {
      align-items: center
    }
  }
}

.action-card {
  height: 26em;
  .card {
    h5, a {
      color: $purple-grad-1;
    }
    .action-link {
      font-size: 1rem;
      letter-spacing: 0.3px;
      font-weight: 500;
      padding: 0.4rem 1.4rem;
      i {
        margin-left: 0.3em;
      }
    }
    padding: 1rem;
    background: $white;
    border: 0;
    height: 85%;
    min-height: 300px;
    margin: 1em;
    .btn.action-link {
      border: 1.4px solid $purple-grad-2;
    }
    &:hover {
      .btn.action-link {
        border: 1.4px solid $border-blue;
      }
    }
  }
  .action-card-footer {
    padding: 1em;
  }
}

#impact-card, #policy-card, .cta-card, .action-card .card, .endorsement-summary {
  box-shadow: $box-shadow-sm;
  &:hover {
    box-shadow: $box-shadow;
  }
}

#community-actions {
  .action-card .card {
    h5, a {
      color: $orange;
    }
  }
  .wr-arrow {
    color: $orange;
    &:hover {
      background-color: $orange;
    }
  }
  .slick-slider:not(:hover) .slick-current .action-card .card,
  .action-card .card:hover {
    background: linear-gradient(18.98deg, $orange-grad-1 7.04%, $orange-grad-2 90.87%);
  }
}

.homepage-involved-cards {
  .action-card .card {
    h5, a {
      color: $purple-grad-1;
    }
  }
  .wr-arrow {
    color: $purple-grad-1;
    &:hover {
      background-color: $purple-grad-1;
    }
  }
  .slick-slider:not(:hover) .slick-current .action-card .card,
  .action-card .card:hover {
    background: linear-gradient(18.98deg, $purple-grad-1 7.04%, $purple-grad-2 90.87%);
  }
}

.homepage-involved-cards, #community-actions {
  .slick-slider:not(:hover) .slick-current .action-card .card,
  .action-card .card:hover {
    color: $white;

    h5.card-title,
    a.action-link {
      color: $white;
    }
  }
  .wr-arrow:hover {
    color: $white;
  }
  .action-link:hover i {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
}

.wr-arrow {
  color: $blue;
  //background-color: $white;
  font-size: x-large;
  &:hover {
    cursor: pointer;
  }
  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: $box-shadow-sm;
    transition: background-color 0.8s ease;
    &:hover {
      box-shadow: $box-shadow;
      background-color: $purple;
      color: $white;
    }
  }
}


.justify-content-center .wr-arrow {
  margin: 0.4em;
}

.blurb-icon {
  background: $light;
  padding: 1em;
  border-radius: 50rem;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-card {
  background-color: $light-purple;
  .blurb-icon {
    background-color: $white;
  }
  a, i {
    color: $purple-grad-1 !important;
    font-weight: bold;
  }
}

#community-ctas .contact-cta-card {
  background-color: $white;
  .blurb-icon {
    background-color: $light-purple;
  }
}

#about-cta .cta-card {
  background-color: $blue;
  .blurb-icon {
    background-color: $light-purple;
    i {
      color: $purple-grad-1 !important;
    }
  }
  h4, a, i, & {
    color: $white !important;
  }
}

.icon-left-text-right {
  .blurb-icon {
    color: white;
    background-color: $purple-grad-1;
    height: 7.5em;
    width: 7.5em;

    i {
      font-size: 3.5em;
    }
  }
  @include media-breakpoint-down(sm) {
    .blurb-icon {
      height: 5em;
      width: 5em;

      i {
        font-size: 2.25em;
      }
    }
    .p-4 {
      padding: 1.0rem !important;
    }
  }
}


#our-values-section .blurb-stack .blurb-icon {
  color: $teal;
  background-color: $light-teal;
}

#special-data .blurb-stack .blurb-icon {
  color: $purple;
  background-color: $light-purple;
}

.answer-trending {
  padding: 0.2em 0.5em;
  border-radius: 0.3rem;
}
.answer-trending-down {
  background-color: $light-red;
  color: $red;
}
.answer-trending-up {
  background-color: $light-teal;
  color: $teal;
}
.answer-trending-flat {
  background-color: $gray-100;
}

.company-slides {
  .company-slide-detail, .thumbnail-text {
    display: none;
  }
  .slick-center {
    .company-slide-detail, .thumbnail-text {
      display: block;
    }
  }
}

.company-slides {
  .image-box {
    background-color: inherit;
    border-radius: 0;
    padding: 0;
    img {
      padding: 0;
    }
  }
}

.community-quotes {
  .slick-track, .slick-slide, .slick-slide > div, .endorsement-summary {
    display: flex !important;
    align-items: stretch;
    height: auto;
  }
}

.deckorate-fluid-layout, .deckorate-minimal-layout {
  #main section {
    .btn {
      border-radius: 49.9rem;
    }

    .btn-primary {
      padding: 0.8rem !important;
      font-size: 1rem;
      letter-spacing: 0.3px;
      font-weight: 500;
      background: linear-gradient(18.98deg, $purple-grad-1 7.04%, $purple-grad-2 90.87%);
    }
  }
}
