.header-with-bg {
  height: 360px;
  .wikirate-section-header {
    padding-top: 5%
  }
}

#about-wikirate-header {
  background-image: url([[/mod/wikirate/backgrounds/header_about_wikirate.png]]);
  .wikirate-section-header {
    padding-top: 10%
  }
}

#about-data-header {
  background-image: url([[/mod/wikirate/backgrounds/header_data.png]]);

}

#about-impact-header {
  background-image: url([[/mod/wikirate/backgrounds/header_impact.png]]);
}

#about-community-header {
  background-image: url([[/mod/wikirate/backgrounds/header_community.png]]);
}

#our-story-section {
  background-image: url([[/mod/wikirate/backgrounds/bg_about_story.png]]);
}

#reliable-data-header {
  background-image: url([[/mod/wikirate/backgrounds/banner_data.png]]);
}

.fancy-counts {
  .large-icon  i {
    font-size: 4rem;
  }
  .count-description {
    color: $gray-600 !important;
  }
}

.vertical-thumbnails {
  .thumbnail {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .thumbnail-text {
      text-align: center;
      a {
        color: $gray-600 !important;
      }
    }
  }
  .image-box {
    margin-bottom: 1em;
    margin-right: 0;
    border: none
  }
}

/*--- blurbs */

.card-list-stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1.5em 0 !important;
}

.item-stack {
  width: 30%;
  margin: 1% !important;
}

.bg-light-purple {
  background: $purple-100;
}

.wikirate-section-header-right {
  display: flex;
  align-items: center;
}

.TYPE-output.box {
  border-top: 1px;
  .box-top {
    height: 150px;
    max-height: 150px;
    background-position: center;
  }
  .box-middle {
    display: block;
  }
  .box-bottom {
    border: none;
    background: white;
    .thumbnail {
      align-items: center
    }
  }

}
