/*------ Badges ---------*/

.labeled-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
  label {
    margin: 0;
    padding: 0 0.33rem;
    .count-badge-label-text {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    flex-direction: column-reverse;
    .badge {
      margin-bottom: 0.8em;
    }
  }
}

.box, .item-box {
  min-width: 320px;
  max-width: 400px;
  width: 100%
}

.box-bottom .labeled-badge .badge {
  background-color: $gray-200 !important;
}

.filter-result-badges {
  display: flex;
  padding: 2px 0;
  max-height: 1.8em;
  .labeled-badge {
    padding-left: 1em;
    @include media-breakpoint-down(md) {
      .count-badge-label-icon {
        display: none !important;
      }
    }
  }
}

@mixin badge-icons() {
  .labeled-badge {
    label {
      .count-badge-label-icon {
        display: block !important;
      }

      .count-badge-label-text {
        display: none !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  @include badge-icons();
}


/*----------- Bars and Boxes -------------*/


.bar {
  @include badge-icons();
  .thumbnail {
    align-items: center;
  }

  .labeled-badge {
    .bookmark-toggle {
      margin-left: 1em;
    }
  }
}

.bar:hover {
  border-left-color: $primary;
}

.bar-left {
  font-weight: normal;
  a {
    color: inherit;
  }
}

.box-bottom {
  @include badge-icons();
}
