/*------ Badges ---------*/

.badge {
  display: inline-block;
  //align-items: center;
  padding: 0.1rem 0.4rem;
  line-height: inherit;
}

.labeled-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
  color: $text-muted;
  label {
    margin: 0;
    padding: 0 0.33rem;
    .count-badge-label-icon {
      display: none;
    }
  }
}


.filter-result-badges {
  display: flex;
  padding: 2px 0;
  max-height: 1.8em;
  .labeled-badge {
    padding-left: 1em;
  }
}

@mixin badge-icons() {
  .labeled-badge {
    label {
      .count-badge-label-icon {
        display: block !important;
      }

      .count-badge-label-text {
        display: none !important;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  @include badge-icons();
}


/*----------- Bars and Boxes -------------*/


.bar {
  @include badge-icons();
  .thumbnail {
    align-items: center;
  }

  .labeled-badge, .bookmark-toggle {
    margin-left: 1em;
  }
  .labeled-badge {
    span {
      font-size: 0.6em;
    }
  }
}

.bar:hover {
  border-left-color: $primary;
}

.bar-left a {
  &, .bar-left {
    font-weight: 600;
  }
  color: inherit;
}

.box-bottom {
  @include badge-icons();
}
