/**
Styling overrides for the open-source tool we're using to manage consent:
https://cookieconsent.orestbida.com/

Most of configuration is done in Google Tag Manager.

For further UI customization see:
https://cookieconsent.orestbida.com/advanced/ui-customization.html
**/

#cc-main {
  /** Change font **/
  --cc-font-family: #{$font-family-sans-serif};

  /** Make the buttons a bit rounder **/
  --cc-btn-border-radius: #{$btn-border-radius};

  /** Change button primary color to purple **/
  --cc-btn-primary-bg: #{$primary};
  --cc-btn-primary-color: #{$white};
  --cc-btn-primary-border-color: #{$primary};
  --cc-btn-primary-hover-bg: #{$purple-600};
  --cc-btn-primary-hover-border-color: #{$purple-600};

  --cc-btn-secondary-bg: #{$secondary};
  --cc-btn-secondary-color: #{$white};
  --cc-btn-secondary-border-color: #{$secondary};
  --cc-btn-secondary-hover-bg: #{$gray-600};
  --cc-btn-secondary-hover-border-color: #{$gray-600};

  /** Also make toggles the same color as the button **/
  --cc-toggle-on-bg: var(--cc-btn-primary-bg);
}
