$social-colors: (
  "github": #24292F,
  "medium": #000000,
  "linkedin": #0a66c2,
  "twitter": #1D9BF0,
  "facebook": #1877F2,
  "instagram": #FF0069
) !default;

#wikirate-footer {
  h2 {
    font-size: 1em;
    text-transform: uppercase;
  }
  h2, .footer-link-list a {
    color: inherit !important;
  }
  h2 {
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 1em;
  }

  .TYPE-link_list a {
    display: block;
    padding-top: 2px;
  }
  .decko-credit svg {
    min-width: 2em;
    max-height: 2em;
    margin-right: 1em;
  }
  .logo-link {
    display: block;
    max-width: 4em;
    img {
      max-height: 2.25rem
    }
  }
  @include media-breakpoint-up(md) {
    .wikirate-licensing {
      text-align: end;
    }
  }
}

@each $platform, $color in $social-colors {
  a:hover .fa-#{$platform} {
    color: $color;
  }
}

