
#homepage {
  #homepage-search-section {
    .search-box-input-group {
      height: 60px;
      select {
        color: $blue;
        font-weight: 600;
        padding-left: 2em;
      }
    }
    height: 450px;
    overflow: hidden;

    video {
    }
    .front-of-video {
      top: 0;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)); //, url(Sequenz 01.png);
      height: 100%;
    }
  }
}

.homepage-delta-cards {
  .card {
    height: 100%;
  }
  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .slick-slide {
    height: auto;
    > div {
      height: 100%;
    }
  }
  .delta-score .score-color {
    font-size: 1.6em;
    height: 1em;
    display: inline-block;
  }
  .delta-company .thumbnail {
    align-items: start !important;
    .thumbnail-title {
      text-align: left;
    }
    font-weight: bold;
    font-size: 0.9rem;
  }
  .RIGHT-headquarter.content-view {
    font-size: 0.6rem;
  }
}


