
#homepage {
  section#homepage-type-links-section,
  section#homepage-delta-section,
  section#homepage-designer-section {
    .thumbnail {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .thumbnail-text {
        text-align: center;
        a {
          color: $gray-600 !important;
        }
      }
    }
    .image-box {
      margin-bottom: 1em;
      margin-right: 0;
      border: none
    }
  }
  #homepage-search-section {
    .search-box-input-group {
      height: 60px;
      select {
        color: $blue;
        font-weight: 600;
        padding-left: 2em;
      }
    }
  }
  .large-icon  i {
    font-size: 4rem;
  }
  .count-description {
    color: $gray-600 !important;
  }
}

.homepage-delta-cards {
  .card {
    height: 100%;
  }
  .slick-track {
    display: flex;
    align-items: stretch;
  }
  .slick-slide {
    height: auto;
    > div {
      height: 100%;
    }
  }
}

.nav-card {
  padding: 1.5rem;
  background: $light;
  .card-title {
    color: $gray-700;
  }
  box-shadow: $box-shadow;
  border: 0;
  min-height: 300px;
  margin: 1.5rem;
}
