
#main > .TYPE-cardtype.titled-view {
  margin-top: 3em;
}

.lead strong {
  font-weight: 600;
}

.filter-closer {
  background-color: $purple-100;
  border: 0;
}

.tab-content {
  padding-top: 1em;
}

.labeled-fields {
  margin-bottom: 1.5em
}

/*----------- Media queries- For mobile devices ---------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .vega canvas {
    width: 100%!important;
    height: 100%!important;
  }

  table.wikirate-table td.data {
    min-width: 100%!important;
  }

  select {
    width: 100%;
  }
}

.newsletter-input {
  font-family: FontAwesome, sans-serif;
  width: 20rem;
  max-width: 60%;
}
