main > #main > .titled-view > .d0-card-header {
  padding: 1.5em 0 2em 0;
}

.full-wr-logo img {
  width: 9.5em;
}

a:focus, a:hover {
  text-decoration: none;
}
//a.btn:hover, a.btn:focus {
//  text-decoration: none;
//}

textarea.form-control {
  border-radius: 0.5rem;
}

.image-box {
  border-radius: 50rem;
  img {
    padding: 15%;
  }
}

/*Common Classes*/

.inherit-anchor {
  text-decoration: none;
  color: inherit !important;

  :hover {
    text-decoration: none !important;
    color: inherit !important;
  }
}

//.btn {
//  -webkit-appearance: none !important;
//}


//Common adjustments
.clearfix{
  clear:both;
}


// select 2 customisation
.select2-container--bootstrap {
  .select2-container--focus {
    border-color: $primary;
  }
}

.select2-container--bootstrap-5 {
  .select2-dropdown.select2-dropdown--below {
    border: 1px solid $border-color;
    @include box-shadow(0, 9px, 20px, rgba(0, 0, 0, .06));
  }

  .select2-dropdown .select2-results__options:not(.select2-results__options--nested) {
    max-height: calc(100vh - 300px);
  }

}

.alert {
  border-radius: 0;
}

.help-block {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-600;
  font-size: 13px;
  width: 100%;
  display: inline-block;
}

.drop-shadow {
  @include box-shadow(0, 9px, 20px, rgba(0, 0, 0, .06));
}

.dropdown-menu {
  @include box-shadow(0, 9px, 20px, rgba(0, 0, 0, .06));
}

.list-group-item {
  border-radius: 3px !important;
}

button.pointer-item-delete.btn.btn-outline-secondary {
  height: 34px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.ellipsis,
.ellipsis .known-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  br {
    display: none;
  }
}


#main > .TYPE-cardtype.titled-view {
  margin-top: 3em;
}

.lead strong {
  font-weight: 600;
}

.filter-closer {
  background-color: $purple-100;
  border: 0;
}

.tab-content {
  padding-top: 1em;
}

.labeled-fields {
  margin-bottom: 1.5em
}

/*----------- Media queries- For mobile devices ---------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .vega canvas {
    width: 100%!important;
    height: 100%!important;
  }

  table.wikirate-table td.data {
    min-width: 100%!important;
  }

  select {
    width: 100%;
  }
}

.newsletter-input {
  font-family: FontAwesome, sans-serif;
  width: 20rem;
  max-width: 60%;
}
