#main {
  > .titled-view > .d0-card-header {
    margin: 1.5em 0 2em 0;
    .card-menu {
      background: $white;
      padding: 0 0 0.5em 0.5em;
      border-radius: 5px;
    }
  }
  > .TYPE-output > .d0-card-header > h1 .card-title {
    font-size: 0.7em;
  }

  > .card-slot > .d0-card-frame {
    margin-top: 1.5em;
  }
}

.d0-card-content, p, .text-content {
  a:not(.btn), a:hover:not(.btn), a:focus:not(.btn) {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
}
.sub-navbar, .header-top-row, .paging, .box, .bar-body, .bar-menu, .nav-item, .breadcrumb,
.header-list, .credit, .button-form-group, .no-decoration-links {
  a, a:hover, a:focus {
    text-decoration: none !important;
  }
}
a.unknown-link {
  text-decoration: none !important;
}

.bar-menu {
  a {
    color: $gray-900 !important;
  }
}


h1 {
  margin-bottom: 1rem;
}

.d0-card-header h1 {
  margin-bottom: 0.5rem;
}

.card, button, a, .bar, i, .btn {
  transition: .3s
}

.full-wr-logo img {
  width: 9.5em;
  max-height: 2.125rem;
}

a:focus, a:hover {
  text-decoration: none;
}
//a.btn:hover, a.btn:focus {
//  text-decoration: none;
//}

textarea.form-control {
  border-radius: 0.5rem;
}

.image-box {
  border-radius: 50rem;
  //img {
  //  padding: 15%;
  //}
}

@include media-breakpoint-up(lg) {
  .w-lg-66 {
    width: 66.6%;
  }
  .w-lg-75 {
    width: 75%;
  }
}

/*Common Classes*/

.inherit-anchor {
  text-decoration: none;
  color: inherit !important;

  :hover {
    text-decoration: none !important;
    color: inherit !important;
  }
}

//.btn {
//  -webkit-appearance: none !important;
//}


//Common adjustments
.clearfix{
  clear:both;
}


// select 2 customisation
.select2-container--bootstrap {
  .select2-container--focus {
    border-color: $primary;
  }
}

.select2-container--bootstrap-5 {
  .select2-dropdown.select2-dropdown--below {
    border: 1px solid $border-color;
    @include box-shadow(0, 9px, 20px, rgba(0, 0, 0, .06));
  }

  .select2-dropdown .select2-results__options:not(.select2-results__options--nested) {
    max-height: calc(100vh - 300px);
  }

}

.alert {
  border-radius: 0;
}

.help-block {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-600;
  font-size: 13px;
  width: 100%;
  display: inline-block;
}

.drop-shadow {
  @include box-shadow(0, 9px, 20px, rgba(0, 0, 0, .06));
}

.dropdown-menu {
  @include box-shadow(0, 9px, 20px, rgba(0, 0, 0, .06));
}

.list-group-item {
  border-radius: 3px !important;
}

button.pointer-item-delete.btn.btn-outline-secondary {
  height: 34px;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.ellipsis,
.ellipsis .known-card {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  br {
    display: none;
  }
}

.lead strong {
  font-weight: 600;
}

.sort-in-filter-form {
  .input-group-text {
    display: none;
  }
  .select2-selection {
    border: 0 !important;
  }
}

.tab-content {
  padding-top: 1em;
}

.labeled-fields {
  margin-bottom: 1.5em
}

/*----------- Media queries- For mobile devices ---------*/

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .vega canvas {
    width: 100%!important;
    height: 100%!important;
  }

  table.wikirate-table td.data {
    min-width: 100%!important;
  }

  select {
    width: 100%;
  }
}

.newsletter-input {
  font-family: FontAwesome, sans-serif;
  width: 20rem;
  max-width: 60%;
}

.company-switch .badge {
  color: $blue;
  background-color: $gray-100;
  // border-radius: 1em;
  font-weight: normal;
  font-size: 1rem;
  padding: 0.2em 1.2em;
}

.nav-fill .nav-item .nav-link {
  height: 100%;
}

.select2-dropdown .thumbnail-title {
  flex-direction: column
}

.LTYPE_RTYPE-email_template-rich_text {
  img {
    max-width: 100%;
  }
  a, a:visited {
    text-decoration: none !important;
  }
}