section.sub-navbar {
  .thumbnail {
    justify-content: center;
    align-items: center;
    padding: 0 1em;
    .card-title {
      color: $gray-800 !important;
    }
    .thumbnail-title {
      padding: 0;
    }
  }
  .image-box {
    margin-right: 0;
    background: transparent;
    border: none;
  }
}

.top-nav-burger {
  button {
    border-radius: 49.9rem;
    border: none;
  }
  .dropdown-menu {
    min-width: 14rem;
  }
  h6 .dropdown-header {
    color: $gray-600;
    letter-spacing: .2em;
  }
  hr {
    margin: 1em;
  }
}

.dropdown-item {
  color: $gray-900 !important;
}