@font-face {
  font-display: block;
  font-family: 'icomoon';
  font-style: normal;
  font-weight: normal;
  src:  url('[[/mod/wikirate/wr-fonts/icomoon.eot?5br5gf]]');
  src:  url('[[/mod/wikirate/wr-fonts/icomoon.eot?5br5gf#iefix]]') format('embedded-opentype'),
    url('[[/mod/wikirate/wr-fonts/icomoon.ttf?5br5gf]]') format('truetype'),
    url('[[/mod/wikirate/wr-fonts/icomoon.woff?5br5gf]]') format('woff'),
    url('[[/mod/wikirate/wr-fonts/icomoon.svg?5br5gf#icomoon]]') format('svg');
}

.wr-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  speak: never;

  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  /* added to make more like material */
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  vertical-align: sub;
}


.wr-icon-company_group:before {
  content: "\e900";
}
.wr-icon-dataset:before {
  content: "\e901";
}
.wr-icon-answer:before {
  content: "\e902";
}
.wr-icon-metric:before {
  content: "\e903";
}
.wr-icon-project:before {
  content: "\e904";
}
.wr-icon-research_group:before {
  content: "\e905";
}
.wr-icon-source:before {
  content: "\e906";
}
.wr-icon-company:before {
  content: "\e907";
}
.wr-icon-topic:before {
  content: "\e908";
}

