.container
  .row
    = _render_filter
  - haml_wrap(true) do
    .container-fluid
      .row.text-center
        = _render_chart
      .row
        = _render_table
      .row
        = nest card.left, view: :export_links