- haml_wrap(true) do
  .row
    - if voo.show? :chart
      .col-9
        = _render_chart
      .col-3
        %h6 Filtered answers
        = _render_stats
  .row
    = _render_table
  .row
    = nest card.left, view: :export_links
