%h4.mt-0 Success!
%p
  Thank you! Your research efforts are helping make information about companies
  accessible, comparable, and free for all.
%p.answer-success-in-project
  To keep researching, go back to the
  %a._to_question_phase{ href: "#" }
    question section
  and select a different year, metric, or company.