.answer-chart-header.d-flex.justify-content-center
  .answer-search-chart.my-2.text-center
    = _render_chart
  .filter-result-menu
    %a._filter-bindings.known-card{ title: "Chart Bindings" }
      = icon_tag :tune
