.numerical-type-info.col-md-8
  .col-md-12.nopadding
    %span.pull-left Unit:
    %span.pull-left.margin-left-10
      = nest [card.left, :unit], view: :content
  .col-md-12.nopadding
    %span.pull-left Range:
    %span.pull-left.margin-left-10
      = nest [card.left, :range], view: :content
