
.default-progress-box {
  .lead {
    margin: 0;
  }
  .progress {
    margin-bottom: 5px;
  }
}

.TYPE_PLUS_RIGHT-project-topic.d0-card-content .pointer-item {
  display: inline;
}

.progress-column .thumbnail {
  border: 0;
  margin: 0;
}

table {
  &.company td {
    &.metric {
      max-width: 250px;
    }
    &.progress-column {
      width: 35%;
    }
  }
  &.metric td.company {
    width: 70%;
  }
  &.company td.button-column {
    border-radius: 0;
    width: 8%;
  }
}

.project-details-info .lead {
  font-size: 1em;
  line-height: 1.3em;
  padding-right: 3px;
}

.progress-bar-table {
  .metric tr,
  .company tr {
    span.progress-value {
      display: none;
    }

    &:hover span.progress-value{
      display: block;
    }
  }
}

.project-summary {
  .media{
    border: 1px solid $border-color;
    margin: 5px 0px;
    padding: 10px;
  }
  .progress {
    min-width: 250px;
    margin: 0px 10px;
  }
  .percent-researched{
    padding-left: 4px;
  }
  .media-heading a {
    color: inherit;
  }
  &:hover .media-heading a {
    color: $primary;
  }
  .media-left {
    .progress {
      min-width: 64px;
      margin: -5px 0;
      height: 8px;
    }
    .badge {
      padding-left: 1.5rem;
      padding-bottom: 10px;
    }
    .progress-bar {
      color: transparent;
    }
    .progress-unknown, .progress-known {
      background: $gray-700;
    }
  }
  .media-left-extras {
    margin-top: -5px;
    .d-inline-flex {
      display: inline !important;
      padding-top: 5px;
    }
  }
}


.TYPE-dataset .TYPE_PLUS_RIGHT-dataset-year.labeled-view .pointer-item {
  display: inline-block;
}

//TODO make this generic
.organized-by {
  font-size: 85%;
  margin-bottom: 0.5rem;
  .pointer-item {
    &:after {
      content: ",";
    }
    &:last-child:after {
      content: "";
    }
  }
  &.horizontal-list > {
    div {
      display: inline;
    }
  }
}

.record-in-project {
  &:hover {
    text-decoration: none;
    > div {
      @include box-shadow(0, 10px, 20px, rgba(0, 0, 0, .10));
    }
  }
}


// PROJECT BARS

.TYPE-project, .TYPE-research_group {
  &.bar:hover .bar-left a {
    color: $primary;
  }
}

.TYPE-project.bar {
  .bar-left .thumbnail-text {
    width: 100%;
  }
  .bar-right {
    flex-direction: column;
    justify-content: left;
    align-items: flex-end !important;
    text-align: right;
  }
  &:hover .default-progress-box .progress {
    -webkit-filter: none;
    filter: none;
    .progress-bar {
      background-color: $primary;
    }
  }
}
