%nav.navbar.fixed-top.background-white.drop-shadow.navbar-expand-md.navbar-light
  %button.navbar-toggler.navbar-toggler-right{"aria-controls" => "bs-example-navbar-collapse-1",
    "aria-expanded" => "false", "aria-label" => "Toggle navigation",
    "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse",
    :type => "button"}
    %span.navbar-toggler-icon
  .navbar-brand
    [[/|{{*logo|core;size:original}}]]
  #bs-example-navbar-collapse-1.collapse.navbar-collapse.align-items-center
    = nest :nav_menu, view: :core
    = render :nav_bar_middle
    %ul.navbar-nav.ml-auto
      %li
        .account-info-bar {{*account links|core}}
