.company-project-metrics-overview.px-3
  %h2.py-1.my-1 Metrics Overview
  .lead
    %em
      = company_card.name
    Records in
    %em
      = card.project_name
  - record_log_names.each do |record_log_name|
    %a{ href: path(mark: record_log_name, view: :research, project: card.project_name),
        class: "_research-metric-link record-log-in-project" }
      .p-3
        = nest record_log_name.left, view: :title_and_question
        .record-log-records.d-flex.justify-content-center
          .w-75
            - record_log_records(record_log_name).each do |record|
              = nest record, view: :research_option, hide: :legend
