.research-year-option{ class: "_research-#{year}" }
  ._research-year-option.row.align-items-center
    .col-11
      = nest record_for(year), view: :research_option
    .col-1.text-center
      = radio_button_tag :year, year, params[:year] == year
