.research-years.d-flex.justify-content-center.py-3
  .w-75
    #research-year-list
      - years.each do |year|
        = haml_partial :year_option, year: year
    %nav.d-flex.py-5.justify-content-between.align-items-center
      .left
        #jPages.pagination
      %a#_select_year{ href: "", class: "btn btn-lg btn-primary" }
        Select year
