.row.p-2._filtered-list-item{ data: wrap_data }
  .col-3.formula-variable
    = text_field_tag "variable-name", name, class: "_variable-name"
  .col-5.metric-label
    = render_thumbnail_no_link
  .col-3.formula-options
    .text-right
      %a._edit-variable-options{ href: "#" }
        = icon_tag :pencil

    ._formula_options{ "data-options": options.to_json }
  .col-1
    %span._remove-variable.btn.btn-outline-secondary.btn-sm
      = fa_icon :close
