.metric-tree-item-title.row.w-100.align-items-center
  .metric-tree-thumbnail{ class: record ? "col-6" : "col-9" }
    = render_thumbnail
  .metric-tree-detail.col-3.d-flex{ class: "justify-content-#{record ? 'center' : 'end'}" }
    = detail
  - if record
    .col-3
      = record