%td.metric-label._filtered-list-item{ data: wrap_data }
  = label
%td.metric-weight
  = text_field_tag "pair_value", weight
  %span>%
  %span.float-right._remove-weight.btn.btn-outline-secondary.btn-sm
    = fa_icon :close