.d-flex.justify-content-between.pb-5
  = nest card.value_card, view: :credit
  .d-flex.justify-content-end
    .ps-5
      = render_research_button
    .ps-5
      = render_flag_button
- read_field_configs.map do |field, args|
  - args[:view] = :titled
  .mb-5
    = nest field, args
