- if export_formats.present?
  .btn-group
    %a._export-button.btn.btn-primary{default_export_link_args}

      //  }
      //#, download: export_filename
      // handled in header, but still might be nice to have if testing issues can
      // be resolved
      = icon_tag :download
      %span.ms-2
        Export
    - class_up 'dropdown-toggle-split', "btn btn-primary text-white"
    = split_dropdown_button_toggle "data-confirm": confirm_export
    .dropdown-menu
      = render_export_panel
