%section.p-5
  = field_nest :general_overview, view: :core
%section.p-5
  %h2
    What makes our data
    %strong different?
  = field_nest :blurb, view: :core, items: { view: :stack }
  .p-3.text-center
    %a.btn.btn-primary{ href: "/Use_our_Api" }
      Use our API
%section.bg-light.p-5
  %h2
    What makes our data
    %strong reliable?
  = field_nest :blurb, view: :core, items: { view: :stack }

= nest :contact_us, view: :section
