- haml_wrap do
  .panel-default.col-md-8#source-preview-main
    #source-form-container
      .col-md-6.col-centered.text-center.text-vertically-centered.light-grey-color-2._blank_state_message
        %br
        %br
        %p
          %strong
            You can preview a source here.
        %p
          %strong
            Please click the 'Research Answer' button to view existing sources
            or add a new source and begin the research.
