.row.panel-margin-fix.nodblclick
  .col-md-6.left-col
    = render :filter_form
    = render :metric_list
  .col-md-6.right-col.metric-details.light-grey-color-2.metric-details-slot
    .card-slot
      %br/
      %br/
      %br/
      %p
        Choose a metric on the left to view more details here and to add it to the formula
