.d-flex.flex-column.w-100
  .d-flex.flex-wrap.justify-content-center.horizontal-list
    = field_nest :wikirate_topic, items: { view: :link, type: "Topic" }
  .w-100.default-progress-box
    = research_progress_bar