.form-check.pt-1
  %input#_terms-checkbox.form-check-input{ type: "checkbox" }
  %label.form-check-label.small{ for: "_terms-checkbox" }
    I agree to the
    = link_to_card :terms_of_use, nil, target: "_policy"
    and
    = link_to_card(:privacy_policy, nil, target: "_policy") + "."

.form-check.py-1
  %input#_newsletter-checkbox.form-check-input{ type: "checkbox" }
  %input#_newsletter_hidden{ type: "hidden",
                             value: "No",
                             name: "card[subcards][+newsletter][content]" }
  %label.form-check-label.small{ for: "_newsletter-checkbox" }
    Keep me posted about Wikirate news.

.py-3
  = standard_create_button text: "Sign up", disabled: true, id: "_signup-button"
.py-2.text-center
  = link_to_card :signin, "Already a Wikirate member? Log in"
.py-2
  .card-notice