.py-4.small.text-center
  By clicking "Sign up" you agree to our
  Terms of Use,
  Privacy Policy, and
  Cookie Policy

.py-2
  = standard_create_button text: "Sign up"
.py-2.text-center
  = link_to_card :signin, "Already a Wikirate member? Log in"
.py-2
  .card-notice