.pb-2
  = select_filter "corporate_identifier[type]",
                  defaults[:type],
                  type_options(:corporate_identifier)
.pt-2
  = text_filter "corporate_identifier[value]",
                defaults[:value], nil
