.pb-2
  = select_filter "company_identifier[type]",
                  default: defaults[:type] || "",
                  options: [["", ""]] + type_options(:company_identifier),
                  data: { placeholder: "Identifier Type" }
.pt-2
  = text_filter "company_identifier[value]",
                default: defaults[:value],
                options: { placeholder: "Identifier" }
