.col-md-12
  .row
    = nest [:wikirate_company, :search], view: :titled,
                                         title: "Companies",
                                         items: { view: :infobar }
  .row
    = nest [:wikirate_topic, :search], view: :titled,
                                       title: "Topics",
                                       items: { view: :infobar }
  .row
    = nest [:metric, :search], view: :titled,
                               title: "Metrics",
                               items: { view: :infobar }
