.col-md-12
  .row
    = nest "Company+*search", view: :titled, title: "Companies", items: { view: "browse_item" }
  .row
    = nest "Topic+*search", view: :titled, title: "Topics", items: { view: "browse_item"}
  .row
    = nest "Metric+*search", view: :titled, title: "Metrics", items: { view: "browse_item" }
