.search-box-input-group {
  flex-wrap: nowrap;

  .search-box-select-type {
    flex: 1 0 auto !important;
    width: auto;
  }
}

.ui-menu-item:has(.autocomplete-item-search) {
  margin: 0 1em;
  border-top: 1px solid $gray-100;
}

.filter-chip {
  font-weight: normal;
  font-size: 1em;
  padding: 1px 0.8em !important;
  .remove-filter-link {
    color: inherit !important;
    i {
      font-size: 1.2rem;
    }
  }
}