.search-box-input-group {
  flex-wrap: nowrap;

  .search-box-select-type {
    flex: 1 0 auto !important;
    width: auto;
  }

  > select, .input-group-text {
    border-radius: 49.9rem;
  }
}

.ui-menu-item:has(.autocomplete-item-search) {
  margin: 0 1em;
  border-top: 1px solid $gray-100;
}

.filter-chip {
  font-weight: normal;
  font-size: 1em;
  text-decoration: none !important;
  .remove-filter-link {
    color: inherit !important;
    i {
      font-size: 1.2rem;
    }
  }
}

.navbar-brand input.search-box {
  font-size: 0.875rem;
}

@media screen and (max-width: 576px){

  #top-navbar .top-nav-search {
    padding: 1em 0 0em;

    .form-select {
      font-size: .875rem;
      padding: 0.375rem 1.5rem 0.375rem 1rem;
    }

    .form-control {
      font-size: .875rem;
      border-right-style: none;
    }
  }
}
