.alert.alert-warning.text-center
  Editing in progress!
%p.p-3
  %strong Are you sure
  you're ready to move to a new metric/company?
.button-form-group.justify-content-around.w-100.d-flex
  %a.btn.btn-outline-secondary._yes_leave._close-modal{ href: "#", "data-bs-dismiss": "modal" }
    Yep. Onward!
  %a.btn.btn-primary._dont_leave._close-modal{ href: "#", "data-bs-dismiss": "modal" }
    Nope, I'll keep editing.
