.border.border-danger.text-center.p-3
  %h1 Rats!
  %h2.alert-danger 500 Server Error
  .p-5
    %img.img-fluid{src: wikirat_image_source}
  %h4
    Looks like WikiRat's been gnawing on cables.
    Don't let him get away with it.
  %p.p-3
    %a.btn.btn-danger{href: "/new/Ticket"}
      Ticket the Rat!
