.dataset-project-description
  Projects focusing on this Dataset
.dataset-project-link.py-3
  = link_to "Add your work",
            class: "btn btn-primary",
            path: { mark: :project.cardname, "_Dataset": card.name, action: :new }
.dataset-project-list.pt-3
  = field_nest :project