.dataset-project-description
  Projects focusing on this Data Set
.dataset-project-link.py-3
  = link_to "Add Project",
            class: "btn btn-primary",
            path: { mark: :project.cardname, "_Data Set": card.name, action: :new }
.dataset-project-list.pt-3
  = field_nest :project