.filter-result-badges.flex.flex-wrap
  = answer_count_badge :answer
  - unless all_answer?
    - if show_company_count?
      = answer_count_badge :company
    - if show_metric_count?
      = answer_count_badge :metric
    = answer_count_badge :year
    -# = answer_count_badge :known
    -# = answer_count_badge :unknown

  -#.answer-search-progress.py-2
  -#  = render_progress_bar
