%header.container.research-phases
  %ul.research-phase-tabs.nav.nav-pills.justify-content-around{ role: "tablist" }
    - %w[Question Source Answer].each_with_index do |phase, index|
      - phase_id = "#{phase.downcase}Phase"
      %li.nav-item.research-phase-tab.w-25
        %a.nav-link.btn.btn-outline-secondary.w-100{ class: ("active" if index == 0),
          "data-toggle": "pill",
          "aria-controls": phase_id,
          "aria-selected": (index == 0 ? "true" : "false"),
          role: "tab",
          href: "##{phase_id}"
        }

%main.tab-content
  #questionPhase.research-phase.tab-pane.active{ role: "tabpanel" }


  #sourcePhase.research-phase.tab-pane{ role: "tabpanel" }
  #answerPhase.research-phase.tab-pane{ role: "tabpanel" }
