%header.container.research-phases
  - %w[Question Source Answer].each_with_index do |phase, index|
    .btn.btn-outline-secondary.research-phase
      .circle-num
        = index + 1
      = phase
%main
  .research-phase-one
    .bg-light
      %section.container.research-company
        = render_company_header
    %section.container.research-metric
      = render_metric_header


  .research-phase-two
  .research-phase-three
