.image-box.icon.m-0.d-inline-block
  %span.img-helper
    = subformat(card.field(:image, new: {}))._render_core size: "small"
%h6.m-1.d-inline-block
  %span.text-muted.font-weight-normal
    = text
  = card.name
