.metric-details-header.col-md-12.col-xs-12.padding-top-10
  .row
    .row-icon.no-icon-bg.padding-top-10
      =link_to_card card, nest(card.designer_image_card, view: :content, size: :small), class: 'editor-image inherit-anchor'
    .row-data
      %h4.metric-color
        =card.metric_title
