.filter-result-badges.flex.flex-wrap
  = record_count_badge :record
  - unless all_record?
    - if show_company_count?
      = record_count_badge :company
    - if show_metric_count?
      = record_count_badge :metric
    = record_count_badge :year
    -# = record_count_badge :known
    -# = record_count_badge :unknown

  -#.record-search-progress.py-2
  -#  = render_progress_bar
