.record-results-container{ class: (scrollable? ? "hscroll-record-results" : "") }
  .record-results-inner-container
    = render_sorting_header optional: :show
    .record-result-items
      = results