.TYPE-answer {
  &.rich-header .media-body {
    width: 100%;
  }

  &.bar {
    .bar-left > {
      div > div {
        padding: 0 0.5em;

        &.thumbnail {
          width: 42%;
        }
      }
      .one-thumb-answer > .thumbnail {
        width: 84%;
      }
    }
  }
}

.flag-details i {
  margin-right: 1em;
}

.year-and-value-pretty .image-box {
  margin-right: 20px;
}

.year-icon-cal.image-box  {
  position: relative;
  margin-right: 0;
  background: inherit;
  border: none;
  border-radius: 0;
  i {
    font-size: 3.5rem;
    position: relative;
    color: $gray-400;
  }
  .icon-cal-text {
    position: absolute;
    bottom: 15px;
    font-size: 0.85rem;
    color: $gray-600;
    font-weight: bold;
  }
}

.record-answers .concise-answer {
  border-bottom: 1px solid $gray-200;
  margin: 0.5em 0;
}

//.sorting-header-section {
//  .sort-buttons a {
//    height: 0.75em;
//  }
//}


