
.metric-value {
  a {
    color: $answer-color;
  }
  color: $answer-color;
  font-size: 1.2rem;
  font-weight: 600;
}
.year-and-value .metric-value {
  font-size: inherit;
}

.scored-by-subtitle .image-box {
  margin-left: 0.3em;
}

.TYPE-metric {
  &.thumbnail, &.box .box-top {
    .thumbnail-subtitle a {
      color: inherit !important;
      // margin-left: 0.2em;
    }
  }
  &.bar .bar-right {
    flex-wrap: nowrap;
    justify-content: space-around;
    .labeled-badge {
      flex-wrap: wrap;
    }
  }
}

.modal-body .LTYPE_RTYPE-metric-company .timeline {
  padding-top: 10px;
  margin-top: 25px;
  border-top: 1px dotted $metric-color;
  width: 100%;
}


// @include media-breakpoint-down(sm) {
//   .RIGHT-Xvote_count.content-view {
//     display: none;
//   }
// }

fieldset > .RIGHT-Xmetric_type ul.pointer-radio-list > li {
  display: inline-block;
  background-color: $gray-100;
  padding: 10px;
}

.select2-dropdown a {
  text-decoration: none !important;
}


//.metric-thumbnail {
//  font-size: 0.66em;
//  font-weight: normal;
//  white-space: nowrap;
//  border: solid 1px $border-color;
//  display: inline-block;
//  padding: 7px;
//  margin-bottom: 8px;
//  img {
//    max-width: 35px;
//    max-height: 35px;
//  }
//  .thumbnail-image,
//  .thumbnail-text {
//    display: inline-block;
//    vertical-align: middle;
//    > a {
//      color: $gray-600;
//    }
//    a > div {
//      max-width: 225px;
//    }
//  }
//}



.TYPE-metric.new-view {
  .help-text p:last-child {
    margin-bottom: 5px;
  }
  fieldset.card-editor.editor {
    clear: both;
    ul.nav-tabs {
      margin: 0 -15px;
    }
  }
  .name-editor {
    .RIGHT-Xtitle,
    .RIGHT-designer,
    .RIGHT-inverse_title {
      &.card-editor {
        .card-title {
          font-size: 12px;
        }
        input {
          width: 100%;
        }
      }
    }
    .plus {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      position: relative;
      top: 16px;
      width: 100%;
      margin-top: 30px;
    }
  }
}

.new_metric_value-view .card-body {
  padding: 0;
}

.metric-row {
  padding-bottom: 15px;
  background: $gray-100;
  > div {
    background: $white;
    &:first-child {
      border-top: 1px solid $gray-200;
    }
  }
}

.source-year {
  position: absolute;
  left: 55px;
  top: 4px;
  color: #ccc;
}

.range-value {
  position: relative;
  font-size: 1.1rem;
  height: 1.8em;
  width: 1.8em;
  display: inline-flex;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color: $white;
}

.metric-value.small {
  font-size: 15px;
}

.wikirate-table .data .metric-legend {
  width: 60%;
}

// metric value details
#metric-container, #source-preview-main {
  border: 1px solid $gray-100;
  background: $white;

  .thumbnail {
    border: none;
    background: inherit;
  }
}

#metric-container {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0px 15px;
  margin-bottom: 30px;
}

#source-preview-main {
  padding: 1px;
  margin-bottom: 30px;
  padding-right: 15px;
}

.topic-list .pointer-item {
  display: inline;
  padding: 0;
}

.new-value-form {
  border-top: 1px solid $border-color;
  padding-top: 10px;
  margin-top: 15px;
}

.row.panel-default.metric-list {
  background: $purple-800;
 .record-row {
   background: $white;
   margin-bottom: 30px;
   border-top: 1px solid $border-color;
   border-bottom: 1px solid $border-color;
 }
}

.answer-unit {
  font-size: 13px;
  color: $gray-600;
  padding: 5px;
  font-style: italic;
}

//.form-group.card-editor {
//  &.RIGHT-unknown {
//    .label {
//      margin-bottom: 0;
//    }
//  }
//}

.new-view.TYPE-metric {
  .card-editor span.select2.select2-container {
    width: 100% !important;
  }
}

.formula-with-values {
  font-size: 18px;
  white-space: pre-wrap;
  > .metric-value {
    margin-right: 2px;
    margin-left: 2px;
  }
}

.box-middle canvas {
  max-width: 300px !important;
  max-height: 206px !important;
}

//.badge {
//  &.known {
//    color: $white;
//    background-color: $answer-color;
//  }
//  &.total {
//    color: $white;
//    background-color: $black;
//  }
//  &.unknown, &.none {
//    color: $white;
//    background-color: $gray-600;
//  }
//}

.score-option {
  &.score-option-checked {
    font-weight: bold;
  }
  &.score-option-unchecked {
    color: $gray-500;
  }
  i {
    margin-right: 0.5em;
    font-size: 1.2em;
  }
}

.filter-result-menu {
  a {
    color: $gray-600 !important;
    padding: 0 3px;
  }
  a:hover {
    color: $primary !important;
  }
  i {
    font-size: 1.5em;
    cursor: pointer;
  }
}




