.TYPE-metric.box {
  height: 320px;
  .box-top {
    min-height: 80px;
    > .thumbnail-title {
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #eee;
    }
    .box-top-subtitle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .thumbnail-subtitle {
        font-size: 0.8em;
        color: $text-muted;
      }
      .bookmark-view {
        min-width: auto;
        .bookmark-count {
          padding-right: 0;
        }
      }
      > .image-box {
        margin: 0;
      }
    }
  }
  .box-middle {
    min-height: auto;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    i {
      font-size: 20px;
    }
    //&:before {
    //  position: absolute;
    //  width: 100%;
    //  left: 0;
    //  top: 95px;
    //  font-family: 'FontAwesome';
    //  color: $gray-100;
    //  content: "\f059";
    //  text-align: center;
    //  font-size: 8em;
    //}
  }
  .box-bottom .labeled-badge {
    padding: 0!important;
  }
}
