

.progress {
  border-radius: 0;
  //border: 1px solid $border-color;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress-bar {
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 9px;
  font-weight: bolder;
  background-color: $answer-color;
}

@mixin projectbar($name, $color) {
  .LTYPE_RTYPE-#{$name}-project.bar-view {
    .progress {
      width: 100%;
    }
    .progress-bar {
      background-color: $color;
    }
  }
}

@include projectbar(metric, $company-color);
@include projectbar(company, $metric-color);

.bar-right > .progress {
  width: 100%;
}

.progress {
  .progress-known, .progress-unknown {
    a {
      color: $white;
    }
  }
  .progress-not-researched, .progress-none {
    background-color: $gray-200 !important;
    color: $gray-700;
    a {
      color: $gray-500;
    }
  }
}

.progress-unknown.progress-bar {
  opacity: 0.7;
  // background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAK0lEQVQYV2NM91v+nwEK/v79Z8IIEwBxmJmZzoAFYByQQsYU76XGIBmYNgAmqBSdzrwmNgAAAABJRU5ErkJggg==) repeat;
}
//Base64 background pattern generated here http://www.patternify.com/

.metric-nav .progress-bar {
  background-color: $metric-color;
}

.default-progress-box .progress {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  .progress-bar {
    background-color: $gray-700;
  }
  .progress-unknown.progress-bar {
    opacity: 0.7;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAK0lEQVQYV2Nkntn7nwEK/jIy+DLCBEAc5v8Mm8ECMA5IISPDrF4fkAxMGwBh9RDwwh0lJQAAAABJRU5ErkJggg==) repeat;
  }
}

.default-progress-box .row {
  padding: 4px 0px;
}

.progress-legend {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  display: inline-flex;
  padding-top: 4px;
  .progress {
    width: 15px;
    height: 15px;
    float: left;
    margin: 4px;
    .progress-bar {
      color: transparent;
    }
  }
  span {
    padding: 3px 2px 6px 2px;
    float: left;
    font-size: 0.8rem;
    color: $gray-700;
  }
  span.progress-value{
    display: none;
  }
}
