//metric properties
.details-tab-left {
  .titled-view {
    padding-bottom: 2em;
  }
}

.details-tab-right {
  .pointer-list {
    padding: 0;
  }

  .pointer-item {
    display: inline;
    padding: 0px;
  }

  .list-group-item, .RIGHT-topic .pointer-item {
    font-weight: normal;
  }

  .list-group-item {
    width: 80%;
    .ellipsis {
      white-space: inherit;
    }
  }

  .labeled-content .RIGHT-value_option .pointer-item {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }

  .labeled-view {
    flex-direction: column;
    .label {
      width: 100% !important;
      text-align: left !important;
    }
    .labeled-content {
      width: 100% !important;
      margin-bottom: 1.2rem;
    }
  }
}