//metric properties
.metric-properties {
  //margin: 0px 15px;

  .pointer-list {
    padding: 0;
  }
  .pointer-item {
    display: inline;
    padding: 0px;
  }
  &.table {
    border: 0;
  }
  td:first-child {
    min-width: 125px;
    width: 20%;
    text-align: right;
  }
  td {
    border: 0 !important;
    padding: 2px 10px !important;
    height: 40px;
    vertical-align: middle !important;
    color: #555;
    position: relative; //fix for menu icon on company details page
    &:last-child {
      font-weight: bold;
    }
  }
  .list-group-item, .RIGHT-topic .pointer-item {
    font-weight: normal;
  }
  .list-group-item {
    width: 80%;
    .ellipsis {
      white-space: inherit;
    }
  }
  .labeled-content .RIGHT-value_option .pointer-item {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
  }
}