.browse-company-item
  .text-center.company-header.ellipsis{:title => card.name}
    = link_to_card card, nest(card, view: :title), class: "inherit-anchor"
  .row.clearfix.company-content.company-page-logo-container
    .col-md-12.col-xs-12.nopadding.left
      %a.inherit-anchor{:href => _render_url}
        .row-data.center-logo
          = nest(card.image_card)
  .row.data-count
    .col-md-6.slab
      %a.inherit-anchor{:href => tab_url(:metric)}
        .number
          = field_nest :metric, view: :count
        .number-label Metrics
    .col-md-6.slab
      %a.inherit-anchor{:href => tab_url(:topic)}
        .number
          = field_nest :wikirate_topic, view: :count
        .number-label Topics
  - # {{_+company contribution details }}
